#
# Database information - _MUST_ be parsed first by config init routine.
#
# database	db server	database
# Keyword	name		name
# --------	---------	--------
#

##database	SYBASE		localhost
database	scott           dhsDB_NB


#
# Medium information. (local files)
#
# Medium	prior-	medium	file table	volume table
# Keyword	ity	name	name		name
# -------	------	------	----------	------------
#

medium		1	CD	cdfiles		cds
medium		2	MD	mdfiles		mds
medium		3	DB	dbfiles		dbs
medium		4	OD	odfiles		ods
medium		5	TP	tpfiles		tps


#
# Support for `Remote' files.
#
# Remote	Local		remote files	remote media	remote servers
# Keyword	Site ID		table name	table name	table name
# -------	-------		------------	------------	--------------
#

#remote		GNS		remote_files	remote_media	remote_servers


#
# Archive information.
#
# Archive	Archive		(L)owercase fileids,
# Keyword	Name		(U)ppercase fileids or
#				(N)o conversion of fileids
# -------	------		---------------------------
#

archive		BPGS    	L
archive		CFHT    	N
archive		DAO     	L
archive		ESOLV   	L
archive		HST     	U
archive		IRAS    	L
archive		IUE     	U
archive		JACOBY  	L
archive		JCMT    	L
archive		KENNIC  	L
archive		KINNEY  	U
archive		ROSAT   	L
archive		TULLY   	L
archive		WENSS		L


#
# Default archive information.
#

default		CFHT


#
# Compression extension information.
#
# Compression	Compression	Compression
# Keyword	Type		Extension
# -----------	-----------	-----------
#

compression	G		gz
compression	U		Z
compression	C		CF


#
# Format extension information.
#
# Format	Format		Format
# Keyword	Type		Extension
# -----------	-----------	-----------
#

format		F		fits
format		F		fit
format		G		gsd
format		S		sds
format		R		raw


# Medium        name    format
# Keyword       (type)
# -------       ------  --------

vol_mfs         CD      ISO9660
vol_mfs         DVD     ISO9660
vol_mfs         DVD     UDF
vol_mfs         MD      UFS
