;/*+
;************************************************************************
;****  C A N A D I A N   A S T R O N O M Y   D A T A   C E N T R E  *****
;*
;* (c) 19967                            (c) 1997
;* National Research Council            Conseil national de recherches
;* Ottawa, Canada, K1A 0R6              Ottawa, Canada, K1A 0R6
;* All rights reserved                  Tous droits reserves
;*                                      
;* NRC disclaims any warranties,        Le CNRC denie toute garantie
;* expressed, implied, or statu-        enoncee, implicite ou legale,
;* tory, of any kind with respect       de quelque nature que se soit,
;* to the software, including           concernant le logiciel, y com-
;* without limitation any war-          pris sans restriction toute
;* ranty of merchantability or          garantie de valeur marchande
;* fitness for a particular pur-        ou de pertinence pour un usage
;* pose.  NRC shall not be liable       particulier.  Le CNRC ne
;* in any event for any damages,        pourra en aucun cas etre tenu
;* whether direct or indirect,          responsable de tout dommage,
;* special or general, consequen-       direct ou indirect, particul-
;* tial or incidental, arising          ier ou general, accessoire ou
;* from the use of the software.        fortuit, resultant de l'utili-
;*                                      sation du logiciel.
;*
;************************************************************************
;*
;*   Script Name:       cdPrep/config/gearrc.config
;*
;*   Purpose:
;*      The GEAR configuration file.
;*
;*      This version of the GEAR configuration file corresponds to 
;*      version 3.3 of GEAR.
;*
;*   Date               : Feb 19, 1998
;*
;*   SCCS data          : 
;*      Module Name     : 
;*      Version Number  : 
;*      Release Number  : 
;*      Last Updated    : 
;*
;*   Programmer         : Shannon Jaeger
;*
;*   Modification History:
;*	98/02/19 SDJ  : Copied from cdMake (vlt project).
;*	98/07/22 SEC  : Modified WriteMethod to do "disk-at-once" writing. 
;*
;****  C A N A D I A N   A S T R O N O M Y   D A T A   C E N T R E  *****
;************************************************************************
;-*/
;
; .gearrc file
;
;
[generic]
;
DefaultDiscSize=74
DefaultTrackType=ISO
MSBAudio=TRUE
; Customer information:
CustomerName=National Research Council of Canada
CustomerContact=CADC
CustomerPhone=250 363 0001
MasterIDCode=
ReferenceCode=
UPCEANCode=
DiscTitle=
;
;
[generator]
;
SystemIdf=GEAR VERSION 3.3 JUNE 1996
PublisherIdf=
DataPreparerIdf=ELEKTROSON 1996
ApplicationIdf=
ApplicationUse=
CopyRightFileIdf=
AbstractFileIdf=
BibliographicFileIdf=
MaxNrDirsInVolume=2500
MaxDirNestingLevel=24
DefaultDirMode=rwxr-xr-x
; NonIsoNameHandling determines how the software handles non-IS09660 names
;   Possible values are:
;   0) Dialog appears for each non-ISO9660 name
;   1) Ignore non-ISO9660 names
;   2) Translate non-ISO9660 names to upper case only
;   3) Translate non-ISO9660 names completely (Level 1)
;   4) Translate non-ISO9660 names completley (Level 2)
;   5) RockRidge
NonIsoNameHandling=5
;
;
[tape]
; Parameters for premaster tape output:
DDPFormatTape=FALSE
; FileOption determines how tracks are written in tape files
;   Possible values are:
;   1) Separate files on separate tapes for each track
;   2) Separate files for each track on the same tape
;   3) Tracks of the same type are combined in one tape file
;   4) One contiguous image tape file including all tracks
FileOption=2
ISOTrackSectorSize=2048
ISOTrackBlockingFactor=4
ISOTrackWithPregapPostgap=FALSE
XATrackSectorSize=2336
XATrackBlockingFactor=4
XATrackWithPregapPostgap=FALSE
DATrackWithPause=FALSE
ScramblingFor2352Sectors=FALSE
WriteIdentTxtOnTape=FALSE
UsePhysicalImageFiles=FALSE
; Selection of SCSI tape interface used:
;   0) Null device.
;   2) Standard tape device driver (special file at 'SCSIPath2').
TapeInterface=2
SCSIPath2=/dev/rst%d
SCSIBusID=0
TargetID=5
;
;
[cdrecording]
; Parameters for CD-Recording:
UsePhysicalImageFiles=TRUE
WriteEnable=TRUE
NrOfWriters=1
ReadSpeed=6
WriteSpeed=4
; Writemethod determines how the CD-R disc is written
; 1. Disc at Once
; 2. Track at Once
WriteMethod=1
Fixation=TRUE
MultiSession=FALSE
VerifyAfterWrite=TRUE
; Selection of CD-R interface used:
;   0) Null device.
;   1) Tracer Technologies SCSI device driver (special file at 'SCSIPath1').
CDRInterface=1
SCSIPath1=/dev/rdsk/c%dt%dd0s0
SCSIPath2=/dev/unavailable
SCSIPath3=/dev/unavailable
; SCSI ID of CD Recorder device (only valid in case of multiple units):
SCSIBusID=1
TargetID=1
; Settings for medium changer device (jukebox):
UseMediumChanger=FALSE
InitializeMediumChanger=FALSE
DriveNrInMediumChanger=3
FirstSlotNumber=1
NrOfSlotsInitialized=500
;
;
[harddisk]
;
; Selection of disk interface used (for raw SCSI hard disks):
;   0) Null device.
;   1) Tracer Technologies SCSI device driver (special file at 'SCSIPath1').
;   2) Standard Sun SCSI disk device driver (special file at 'SCSIPath2').
DiskInterface=2
SCSIPath1=/dev/rdsk/c%dt%dd0s2
SCSIPath2=/dev/rsd%dc
; SCSI ID of disk device (only valid in case of multiple units):
SCSIBusID=0
TargetID=6
;
;
;end of .gearrc
