#
#  Application Identification.
#
#
# Keyword       Host Address	Identity
# -------       ------------
#

identity	STO_PUT_HOST		dhsStoPut2
identity	STO_PUT_HOST		dhsStoPut2
identity	STO_PUT_HOST		dhsStoPut3
identity	STO_PUT_HOST		dhsStoPut4
identity	STO_PUT_HOST		jcmtStoPut


#
# Storage Server to connect to and IP Address.
#
# Keyword       Idenity         Host Address
# -------       -------         ------------
#

storageServer	storageServer	STORE_HOST


#
# Organization creating the media.
#
# Keyword       organization
# -------       -------------
#

organization	CADC


#
# Default command-line argument values.
#
# Keyword	compression	mediaType	numCopies
# -------	-----------     ---------	---------

defaults	ASIS		CD		1


#
# MediaType Mappging
#
#
# Keyword	retrieve type	DHS (storage) type
# -------	-------------   ------------------
#

mediaType	FTP		MD
mediaType	EXABYTE		EXABYTE
mediaType	CD		CD
mediaType	DVD		DVD



