#  Instrument	Attribute	Data	Keyword		 Gemini Mand.	Null	Array	Column	Comment	
#		Name in SDS	Type	Name in Fits	 Mand.Keyword in Fits	Value		Name
#  ----------	---------	------	------------	-------------	-----	-----	-------	---------------------------------
#

OK *		instrument	STRING  INSTRUME	F		NULL	NONE	NULL    "Instrument used to acquire data."
OK *		axisSize	INT     AXISSZ		F		NULL	INDEX	NULL    "Data array dimensions.&"
OK *		origin		INT     ORIGINS		F		NULL	INDEX	NULL    "A frames data origin.&"

OK *		frameId  	STRING	FRMID 		F		NULL	NONE	NULL	"Gemini frame identifier"
OK *		frameName	STRING  FRMNAME		F		NULL	NONE	NULL	"Name assigned to a frame of data."
OK *		dataType	STRING	EXTNAME		F		NULL	NONE	NULL	"Name assigned to a FITS extenstion"
OK *		extensionVersion INT	EXTVER		F		NULL	NONE	NULL	"Number assigned to a FITS extenstion"
OK * 		BSCALE   	DOUBLE 	BSCALE    	F		1.0	NONE	NULL	"REAL = TAPE*BSCALE + BZERO"
OK * 		BZERO    	DOUBLE 	BZERO     	F		0.0	NONE	NULL	""
OK * 		OBJECT   	STRING  OBJECT    	F		NULL	NONE	NULL	"Object ID"
OK * 		ORIGIN   	STRING  ORIGIN    	F		NULL	NONE	NULL	""
OK * 		DATE     	STRING  DATE      	F		NULL	NONE	NULL	""
OK * 		IRAFNAME 	STRING  IRAFNAME  	F		NULL	NONE	NULL	"NAME OF IRAF IMAGE FILE"
OK * 		IRAF-MAX 	FLOAT  	IRAF-MAX  	F		0.0	NONE	NULL	"DATA MAX"
OK * 		IRAF-MIN 	FLOAT  	IRAF-MIN  	F		0.0	NONE	NULL	"DATA MIN"
OK * 		IRAF-BPX 	INT    	IRAF-BPX  	F		16	NONE	NULL	"DATA BITS/PIXEL"
OK * 		IRAFTYPE 	STRING  IRAFTYPE  	F		LONG	NONE	NULL	"PIXEL TYPE"
OK * 		CRVAL1   	DOUBLE 	CRVAL1    	F		NULL	NONE	NULL	"RA at Ref pix in decimal degrees"
OK * 		CRVAL2   	DOUBLE 	CRVAL2    	F		NULL	NONE	NULL	"DEC at Ref pix in decimal degrees"
OK * 		CRPIX1   	FLOAT  	CRPIX1    	F		NULL	NONE	NULL	"Refpix of first axis"
OK * 		CRPIX2   	FLOAT  	CRPIX2    	F		NULL	NONE	NULL	"Refpix of second axis"
OK * 		CD1_1    	FLOAT  	CD1_1     	F		NULL	NONE	NULL	"CD matrix"
OK * 		CD1_2    	FLOAT  	CD1_2     	F		NULL	NONE	NULL	"CD matrix"
OK * 		CD2_2    	FLOAT  	CD2_2     	F		NULL	NONE	NULL	"CD matrix"
OK * 		CD2_1    	FLOAT  	CD2_1     	F		NULL	NONE	NULL	"CD matrix"
OK * 		DATAMIN  	UINT  	DATAMIN  	F		NULL	NONE	NULL	"DATA MIN"
OK * 		DATAMAX  	ANY  	DATAMAX   	F		NULL	NONE	NULL	"DATAMAX"
OK * 		CTYPE1   	STRING  CTYPE1    	F		NULL	NONE	NULL	"R.A. in tangent plane projection"
OK * 		CTYPE2   	STRING  CTYPE2    	F		NULL	NONE	NULL	"DEC. in tangent plane projection"
OK *   		SIMPLE   	STRING  SIMPLE    	F		NULL	NONE	NULL	""
OK *   		FITSFILE 	STRING  FITSFILE  	F		NULL	NONE	NULL	""
OK * 		PLTLABEL 	STRING  PLTLABEL   	F		NULL	NONE	NULL	"Observatory plate label"
OK * 		PLATEID  	STRING  PLATEID   	F		NULL	NONE	NULL	"GSSS Plate ID"
OK * 		REGION 		STRING 	REGION 	  	F		NULL	NONE	NULL	"GSSS Region Name"
OK * 		DATE-OBS 	STRING 	DATE-OBS  	F		NULL	NONE	NULL	"UT date of Observation"
OK * 		DATE-END 	STRING 	DATE-END  	F		NULL	NONE	NULL	"UT date of Observation"
OK * 		TIME-OBS 	STRING 	TIME-OBS   	F		NULL	NONE	NULL	"UT date of Observation"
OK * 		TIME-END 	STRING 	TIME-END   	F		NULL	NONE	NULL	"UT date of Observation"
OK * 		UT 		STRING 	UT 	  	F		NULL	NONE	NULL	"UT time of Observation"
OK * 		EPOCH 		DOUBLE 	EPOCH 	  	F		NULL	NONE	NULL	"Epoch of plate"
OK * 		PLTRAH 		INT    	PLTRAH 	  	F		NULL	NONE	NULL	"Plate center RA"
OK * 		PLTRAM 		INT    	PLTRAM 	  	F		NULL	NONE	NULL	""
OK * 		PLTRAS 		DOUBLE 	PLTRAS 	  	F		NULL	NONE	NULL	""
OK * 		PLTDECSN 	STRING 	PLTDECSN	F		NULL	NONE	NULL	"Plate center Dec"
OK * 		PLTDECD 	INT   	PLTDECD   	F		NULL	NONE	NULL	""
OK * 		PLTDECM 	INT    	PLTDECM   	F		NULL	NONE	NULL	""
OK * 		PLTDECS 	DOUBLE 	PLTDECS   	F		NULL	NONE	NULL	""
OK * 		EQUINOX 	DOUBLE 	EQUINOX   	F		NULL	NONE	NULL	"Julian Reference frame equinox"
OK * 		EXPOSURE 	DOUBLE 	EXPOSURE  	F		NULL	NONE	NULL	"Exposure time minutes"
OK * 		BANDPASS 	INT    	BANDPASS 	F		NULL	NONE	NULL	"GSSS Bandpass code"
OK * 		PLTGRADE 	INT    	PLTGRADE  	F		NULL	NONE	NULL	"Plate grade"
OK * 		PLTSCALE 	DOUBLE 	PLTSCALE  	F		NULL	NONE	NULL	"Plate Scale arcsec per mm"
OK * 		SITELAT 	STRING 	SITELAT   	F		NULL	NONE	NULL	"Latitude of Observatory"
OK * 		SITELONG 	STRING 	SITELONG  	F		NULL	NONE	NULL	"Longitude of Observatory"
OK * 		TELESCOP 	STRING 	TELESCOP  	F		ROSAT	NONE	type1	"Telescope where plate taken"
OK * 		CNPIX1 		USHORT 	CNPIX1 	  	F		NULL	NONE	NULL	"X corner (pixels)"
OK * 		CNPIX2 		SHORT  	CNPIX2 	  	F		NULL	NONE	NULL	"Y corner (pixels)"
OK * 		DATATYPE 	STRING 	DATATYPE  	F		NULL	NONE	NULL	"Type of Data"
OK * 		SCANIMG 	STRING 	SCANIMG   	F		NULL	NONE	NULL	"Name of original scan"
OK * 		SCANNUM 	BYTE   	SCANNUM  	F		NULL	NONE	NULL	"Identifies scan of the plate"
OK * 		DCHOPPED 	BOOLEAN	DCHOPPED  	F		NULL	NONE	NULL	"Image repaired for chopping effects"
OK * 		DSHEARED 	BOOLEAN	DSHEARED  	F		NULL	NONE	NULL	"Image repaired for shearing effects"
OK * 		DSCNDNUM 	UBYTE	DSCNDNUM  	F		NULL	NONE	NULL	"Identifies descendant of plate scanimage"
OK * 		XPIXELSZ 	DOUBLE 	XPIXELSZ  	F		NULL	NONE	NULL	"X pixel size microns"
OK * 		YPIXELSZ 	DOUBLE 	YPIXELSZ  	F		NULL	NONE	NULL	"Y pixel size microns"
OK * 		PPO1 		DOUBLE 	PPO1 	  	F		NULL	NONE	NULL	"Orientation Coefficients"
OK * 		PPO2 		DOUBLE 	PPO2 	  	F		NULL	NONE	NULL	""
OK * 		PPO3 		DOUBLE 	PPO3 	  	F		NULL	NONE	NULL	""
OK * 		PPO4 		DOUBLE 	PPO4 	  	F		NULL	NONE	NULL	""
OK * 		PPO5 		DOUBLE 	PPO5 	  	F		NULL	NONE	NULL	""
OK * 		PPO6 		DOUBLE 	PPO6 	  	F		NULL	NONE	NULL	""
OK * 		AMDX1 		DOUBLE 	AMDX1 	  	F		NULL	NONE	NULL	"Plate solution x coefficients"
OK * 		AMDX2 		DOUBLE 	AMDX2 	  	F		NULL	NONE	NULL	""
OK * 		AMDX3 		DOUBLE 	AMDX3 	  	F		NULL	NONE	NULL	""
OK * 		AMDX4 		DOUBLE 	AMDX4 	  	F		NULL	NONE	NULL	""
OK * 		AMDX5 		DOUBLE 	AMDX5 	  	F		NULL	NONE	NULL	""
OK * 		AMDX6 		DOUBLE 	AMDX6 	  	F		NULL	NONE	NULL	""
OK * 		AMDX7 		DOUBLE 	AMDX7 	  	F		NULL	NONE	NULL	""
OK * 		AMDX8 		DOUBLE 	AMDX8 	  	F		NULL	NONE	NULL	""
OK * 		AMDX9 		DOUBLE 	AMDX9 	  	F		NULL	NONE	NULL	""
OK * 		AMDX10 		DOUBLE 	AMDX10 	  	F		NULL	NONE	NULL	""
OK * 		AMDX11 		DOUBLE 	AMDX11 	  	F		NULL	NONE	NULL	""
OK * 		AMDX12 		DOUBLE 	AMDX12 	  	F		NULL	NONE	NULL	""
OK * 		AMDX13 		DOUBLE 	AMDX13 	  	F		NULL	NONE	NULL	""
OK * 		AMDX14 		DOUBLE 	AMDX14 	  	F		NULL	NONE	NULL	""
OK * 		AMDX15 		DOUBLE 	AMDX15 	  	F		NULL	NONE	NULL	""
OK * 		AMDX16 		DOUBLE 	AMDX16 	  	F		NULL	NONE	NULL	""
OK * 		AMDX17 		DOUBLE 	AMDX17 	  	F		NULL	NONE	NULL	""
OK * 		AMDX18 		DOUBLE 	AMDX18 	  	F		NULL	NONE	NULL	""
OK * 		AMDX19 		DOUBLE 	AMDX19 	  	F		NULL	NONE	NULL	""
OK * 		AMDX20 		DOUBLE 	AMDX20 	  	F		NULL	NONE	NULL	""
OK * 		AMDY1 		DOUBLE 	AMDY1 	  	F		NULL	NONE	NULL	"Plate solution y coefficients"
OK * 		AMDY2 		DOUBLE 	AMDY2 	  	F		NULL	NONE	NULL	""
OK * 		AMDY3 		DOUBLE 	AMDY3 	  	F		NULL	NONE	NULL	""
OK * 		AMDY4 		DOUBLE 	AMDY4 	  	F		NULL	NONE	NULL	""
OK * 		AMDY5 		DOUBLE 	AMDY5 	  	F		NULL	NONE	NULL	""
OK * 		AMDY6 		DOUBLE 	AMDY6 	  	F		NULL	NONE	NULL	""
OK * 		AMDY7 		DOUBLE 	AMDY7 	  	F		NULL	NONE	NULL	""
OK * 		AMDY8 		DOUBLE 	AMDY8 	  	F		NULL	NONE	NULL	""
OK * 		AMDY9 		DOUBLE 	AMDY9 	  	F		NULL	NONE	NULL	""
OK * 		AMDY10 		DOUBLE 	AMDY10 	  	F		NULL	NONE	NULL	""
OK * 		AMDY11 		DOUBLE 	AMDY11 	  	F		NULL	NONE	NULL	""
OK * 		AMDY12 		DOUBLE 	AMDY12 	  	F		NULL	NONE	NULL	""
OK * 		AMDY13 		DOUBLE 	AMDY13 	  	F		NULL	NONE	NULL	""
OK * 		AMDY14 		DOUBLE 	AMDY14 	  	F		NULL	NONE	NULL	""
OK * 		AMDY15 		DOUBLE 	AMDY15 	  	F		NULL	NONE	NULL	""
OK * 		AMDY16 		DOUBLE 	AMDY16 	  	F		NULL	NONE	NULL	""
OK * 		AMDY17 		DOUBLE 	AMDY17 	  	F		NULL	NONE	NULL	""
OK * 		AMDY18 		DOUBLE 	AMDY18 	  	F		NULL	NONE	NULL	""
OK * 		AMDY19 		DOUBLE 	AMDY19 	  	F		NULL	NONE	NULL	""
OK * 		AMDY20 		DOUBLE 	AMDY20 	  	F		NULL	NONE	NULL	""
OK * 		OBJCTRA 	STRING 	OBJCTRA   	F		NULL	NONE	NULL 	"Object Right Ascension (J2000)"
OK * 		OBJCTDEC 	STRING 	OBJCTDEC 	F		NULL	NONE	NULL	"Object Declination (J2000)"
OK * 		OBJCTX 		FLOAT 	OBJCTX 	  	F		NULL	NONE	NULL	"Object X on plate (pixels)"
OK *		OBJCTY 		FLOAT 	OBJCTY 	  	F		NULL	NONE	NULL	"Object Y on plate (pixels)"
OK * 		NBFCPYRT	INT	NBFCPYRT	F		NULL	NONE	NULL	"Number of brief copyright statement lines"
OK *		BFCPYRT1	STRING	BFCPYRT1	F		NULL	NONE    NULL	""
OK *		BFCPYRT2	STRING	BFCPYRT2	F		NULL	NONE    NULL	""
OK *		NFLCPYRT	INT	NFLCPYRT	F		NULL	NONE	NULL	"Number of full copyright statement lines"
OK *		FLCPYRT1	STRING	FLCPYRT1	F		NULL	NONE	NULL	""
OK *		FLCPYRT2	STRING	FLCPYRT2	F		NULL	NONE	NULL	""
OK *		FLCPYRT3	STRING	FLCPYRT3	F		NULL	NONE	NULL	""
OK *		FLCPYRT4	STRING	FLCPYRT4	F		NULL	NONE	NULL	""
OK *		FLCPYRT5	STRING	FLCPYRT5	F		NULL	NONE	NULL	""
OK *		FLCPYRT6	STRING	FLCPYRT6	F		NULL	NONE	NULL	""
OK *		FLCPYRT7	STRING	FLCPYRT7	F		NULL	NONE	NULL	""
OK *		FLCPYRT8	STRING	FLCPYRT8	F		NULL	NONE	NULL	""
OK *		FLCPYRT9	STRING	FLCPYRT9	F		NULL	NONE	NULL	""
OK *		FLCPYRTA	STRING	FLCPYRTA	F		NULL	NONE	NULL	""
OK *		FLCPYRTB	STRING	FLCPYRTB	F		NULL	NONE	NULL	""
OK *		FLCPYRTC	STRING	FLCPYRTC	F		NULL	NONE	NULL	""
OK *		FLCPYRTD	STRING	FLCPYRTD	F		NULL	NONE	NULL	""
OK *		FLCPYRTE	STRING	FLCPYRTE	F		NULL	NONE	NULL	""
OK *		FLCPYRTF	STRING	FLCPYRTF	F		NULL	NONE	NULL	""
OK *		HISTORY  	STRING	HISTORY  	F		NULL	NONE	NULL	""
OK *		FITSDATE	STRING	FITSDATE	F		NULL	NONE	NULL	"Date FITS file was generated"
OK *		COMMENT		STRING	COMMENT		F		NULL	NONE	NULL	""
OK *		XTENSION	STRING	XTENSION	F		EXT	NONE	NULL	"Image extension"
OK *		PCOUNT  	INT	PCOUNT  	F		NULL	NONE	NULL	"random parameters"
OK *		GCOUNT  	INT	GCOUNT  	F		NULL	NONE	NULL	"number of data groups"
OK *		INHERIT  	BOOLEAN	INHERIT  	F		EXT	NONE	NULL	"inherit the primary header"
OK *		IRAF-TLM	STRING	IRAF-TLM	F		NULL	NONE	NULL	"Time of last modification"
OK *		ORIGIN1      	INT	ORIGIN1    	F		1	NONE	NULL	"x coord for the  bottom left corner of a data chunk"
OK *		ORIGIN2      	INT	ORIGIN2    	F		2	NONE	NULL	"y coord for the bottom left corner of a data chunk"
OK *		AXISSZ1      	INT	AXISSZ1    	F		3	NONE	NULL	"length of x axis for entire image"
OK *		AXISSZ2      	INT	AXISSZ2    	F		3	NONE	NULL	"lenght of y axis for entire image"
OK *		multiArray	ANY	ARRAY		F		NULL	EXTEN	NULL	"Multi-dimension array for testing."
OK *		EXTLEVEL	INT	EXTLEVEL	F		NULL	NONE	NULL	"level of the extension file in a hierarchy"
	
	
OK x41		instrument	STRING	INSTRUME_NA	F		NULL	NONE	NULL    "Instrument used to acquire data."
OK x41		axisSize	INT	AXISSZ		F		NULL	INDEX	NULL    "Data array dimensions.&"
OK x41		origin		INT	ORIGINS		F		NULL	INDEX	NULL    "A frames data origin.&"

OK x41		frameId  	STRING	FRMID 		F		NULL	NONE	NULL	"Gemini frame identifier"
OK x41		frameName	STRING  FRMNAME		F		NULL	NONE	NULL	"Name assigned to a frame of data."
OK x41		dataType	STRING	EXTNAME		F		NULL	NONE	NULL	"Name assigned to a FITS extenstion"
OK x41		extensionVersion INT	EXTVER		F		NULL	NONE	NULL	"Number assigned to a FITS extenstion"
OK x41 		BSCALE   	DOUBLE 	BSCALE    	F		1.0	NONE	NULL	"REAL = TAPE*BSCALE + BZERO"
OK x41 		BZERO    	DOUBLE 	BZERO     	F		0.0	NONE	NULL	""
OK x41 		OBJECT   	STRING  OBJECT    	F		NULL	NONE	NULL	"Object ID"
OK x41 		ORIGIN   	STRING  ORIGIN    	F		NULL	NONE	NULL	""
OK x41 		DATE     	STRING  DATE      	F		NULL	NONE	NULL	""
OK x41 		IRAFNAME 	STRING  IRAFNAME  	F		NULL	NONE	NULL	"NAME OF IRAF IMAGE FILE"
OK x41 		IRAF-MAX 	FLOAT  	IRAF-MAX  	F		0.0	NONE	NULL	"DATA MAX"
OK x41 		IRAF-MIN 	FLOAT  	IRAF-MIN  	F		0.0	NONE	NULL	"DATA MIN"
OK x41 		IRAF-BPX 	INT    	IRAF-BPX  	F		16	NONE	NULL	"DATA BITS/PIXEL"
OK x41 		IRAFTYPE 	STRING  IRAFTYPE  	F		LONG	NONE	NULL	"PIXEL TYPE"
OK x41 		CRVAL1   	DOUBLE 	CRVAL1    	F		NULL	NONE	NULL	"RA at Ref pix in decimal degrees"
OK x41 		CRVAL2   	DOUBLE 	CRVAL2    	F		NULL	NONE	NULL	"DEC at Ref pix in decimal degrees"
OK x41 		CRPIX1   	FLOAT  	CRPIX1    	F		NULL	NONE	NULL	"Refpix of first axis"
OK x41 		CRPIX2   	FLOAT  	CRPIX2    	F		NULL	NONE	NULL	"Refpix of second axis"
OK x41 		CD1_1    	FLOAT  	CD1_1     	F		NULL	NONE	NULL	"CD matrix"
OK x41 		CD1_2    	FLOAT  	CD1_2     	F		NULL	NONE	NULL	"CD matrix"
OK x41 		CD2_2    	FLOAT  	CD2_2     	F		NULL	NONE	NULL	"CD matrix"
OK x41 		CD2_1    	FLOAT  	CD2_1     	F		NULL	NONE	NULL	"CD matrix"
OK x41 		DATAMIN  	UINT  	DATAMIN   	F		NULL	NONE	NULL	"DATA MIN"
OK x41 		DATAMAX  	ANY  	DATAMAX   	F		NULL	NONE	NULL	"DATAMAX"
OK x41 		CTYPE1   	STRING  CTYPE1    	F		NULL	NONE	NULL	"R.A. in tangent plane projection"
OK x41 		CTYPE2   	STRING  CTYPE2    	F		NULL	NONE	NULL	"DEC. in tangent plane projection"
OK x41 		SIMPLE   	STRING  SIMPLE  	F		NULL	NONE	NULL	""
OK x41 		FITSFILE 	STRING  FITSFILE  	F		NULL	NONE	NULL	""
OK x41 		PLTLABEL 	STRING  PLTLABEL   	F		NULL	NONE	NULL	"Observatory plate label"
OK x41 		PLATEID  	STRING  PLATEID   	F		NULL	NONE	NULL	"GSSS Plate ID"
OK x41 		REGION 		STRING 	REGION 	  	F		NULL	NONE	NULL	"GSSS Region Name"
OK x41 		DATE-OBS 	STRING 	DATE-OBS  	F		NULL	NONE	NULL	"UT date of Observation"
OK x41 		DATE-END 	STRING 	DATE-END  	F		NULL	NONE	NULL	"UT date of Observation"
OK x41 		TIME-OBS 	STRING 	TIME-OBS   	F		NULL	NONE	NULL	"UT date of Observation"
OK x41 		TIME-END 	STRING 	TIME-END   	F		NULL	NONE	NULL	"UT date of Observation"
OK x41 		UT 		STRING 	UT 	  	F		NULL	NONE	NULL	"UT time of Observation"
OK x41 		EPOCH 		DOUBLE 	EPOCH 	  	F		NULL	NONE	NULL	"Epoch of plate"
OK x41 		PLTRAH 		INT    	PLTRAH 	  	F		NULL	NONE	NULL	"Plate center RA"
OK x41 		PLTRAM 		INT    	PLTRAM 	  	F		NULL	NONE	NULL	""
OK x41 		PLTRAS 		DOUBLE 	PLTRAS 	  	F		NULL	NONE	NULL	""
OK x41 		PLTDECSN 	STRING 	PLTDECSN  	F		NULL	NONE	NULL	"Plate center Dec"
OK x41 		PLTDECD 	INT   	PLTDECD   	F		NULL	NONE	NULL	""
OK x41 		PLTDECM 	INT    	PLTDECM   	F		NULL	NONE	NULL	""
OK x41 		PLTDECS 	DOUBLE 	PLTDECS   	F		NULL	NONE	NULL	""
OK x41 		EQUINOX 	DOUBLE 	EQUINOX   	F		NULL	NONE	NULL	"Julian Reference frame equinox"
OK x41 		EXPOSURE 	DOUBLE 	EXPOSURE  	F		NULL	NONE	NULL	"Exposure time minutes"
OK x41 		BANDPASS 	INT    	BANDPASS 	F		NULL	NONE	NULL	"GSSS Bandpass code"
OK x41 		PLTGRADE 	INT    	PLTGRADE  	F		NULL	NONE	NULL	"Plate grade"
OK x41 		PLTSCALE 	DOUBLE 	PLTSCALE  	F		NULL	NONE	NULL	"Plate Scale arcsec per mm"
OK x41 		SITELAT 	STRING 	SITELAT   	F		NULL	NONE	NULL	"Latitude of Observatory"
OK x41 		SITELONG 	STRING 	SITELONG   	F		NULL	NONE	NULL	"Longitude of Observatory"
OK x41 		TELESCOP 	STRING 	TELESCOP   	F		ROSAT	NONE	type1	"Telescope where plate taken"
OK x41 		CNPIX1 		USHORT 	CNPIX1 	  	F		NULL	NONE	NULL	"X corner (pixels)"
OK x41 		CNPIX2 		SHORT  	CNPIX2 	  	F		NULL	NONE	NULL	"Y corner (pixels)"
OK x41 		DATATYPE 	STRING 	DATATYPE  	F		NULL	NONE	NULL	"Type of Data"
OK x41 		SCANIMG 	STRING 	SCANIMG   	F		NULL	NONE	NULL	"Name of original scan"
OK x41 		SCANNUM 	BYTE   	SCANNUM   	F		NULL	NONE	NULL	"Identifies scan of the plate"
OK x41 		DCHOPPED 	BOOLEAN	DCHOPPED  	F		NULL	NONE	NULL	"Image repaired for chopping effects"
OK x41 		DSHEARED 	BOOLEAN	DSHEARED  	F		NULL	NONE	NULL	"Image repaired for shearing effects"
OK x41 		DSCNDNUM 	UBYTE	DSCNDNUM  	F		NULL	NONE	NULL	"Identifies descendant of plate scanimage"
OK x41 		XPIXELSZ 	DOUBLE 	XPIXELSZ  	F		NULL	NONE	NULL	"X pixel size microns"
OK x41 		YPIXELSZ 	DOUBLE 	YPIXELSZ  	F		NULL	NONE	NULL	"Y pixel size microns"
OK x41 		PPO1 		DOUBLE 	PPO1 	 	F		NULL	NONE	NULL	"Orientation Coefficients"
OK x41 		PPO2 		DOUBLE 	PPO2 	  	F		NULL	NONE	NULL	""
OK x41 		PPO3 		DOUBLE 	PPO3 	  	F		NULL	NONE	NULL	""
OK x41 		PPO4 		DOUBLE 	PPO4 	  	F		NULL	NONE	NULL	""
OK x41 		PPO5 		DOUBLE 	PPO5 	  	F		NULL	NONE	NULL	""
OK x41 		PPO6 		DOUBLE 	PPO6 	  	F		NULL	NONE	NULL	""
OK x41 		AMDX1 		DOUBLE 	AMDX1 	 	F		NULL	NONE	NULL	"Plate solution x coefficients"
OK x41 		AMDX2 		DOUBLE 	AMDX2 	  	F		NULL	NONE	NULL	""
OK x41 		AMDX3 		DOUBLE 	AMDX3 	  	F		NULL	NONE	NULL	""
OK x41 		AMDX4 		DOUBLE 	AMDX4 	  	F		NULL	NONE	NULL	""
OK x41 		AMDX5 		DOUBLE 	AMDX5 	  	F		NULL	NONE	NULL	""
OK x41 		AMDX6 		DOUBLE 	AMDX6 	  	F		NULL	NONE	NULL	""
OK x41 		AMDX7 		DOUBLE 	AMDX7 	  	F		NULL	NONE	NULL	""
OK x41 		AMDX8 		DOUBLE 	AMDX8 	  	F		NULL	NONE	NULL	""
OK x41 		AMDX9 		DOUBLE 	AMDX9 	  	F		NULL	NONE	NULL	""
OK x41 		AMDX10 		DOUBLE 	AMDX10 	  	F		NULL	NONE	NULL	""
OK x41 		AMDX11 		DOUBLE 	AMDX11 	  	F		NULL	NONE	NULL	""
OK x41 		AMDX12 		DOUBLE 	AMDX12 	  	F		NULL	NONE	NULL	""
OK x41 		AMDX13 		DOUBLE 	AMDX13 	  	F		NULL	NONE	NULL	""
OK x41 		AMDX14 		DOUBLE 	AMDX14 	  	F		NULL	NONE	NULL	""
OK x41 		AMDX15 		DOUBLE 	AMDX15 	  	F		NULL	NONE	NULL	""
OK x41 		AMDX16 		DOUBLE 	AMDX16 	  	F		NULL	NONE	NULL	""
OK x41 		AMDX17 		DOUBLE 	AMDX17 	  	F		NULL	NONE	NULL	""
OK x41 		AMDX18 		DOUBLE 	AMDX18 	  	F		NULL	NONE	NULL	""
OK x41 		AMDX19 		DOUBLE 	AMDX19 	  	F		NULL	NONE	NULL	""
OK x41 		AMDX20 		DOUBLE 	AMDX20 	  	F		NULL	NONE	NULL	""
OK x41 		AMDY1 		DOUBLE 	AMDY1 	  	F		NULL	NONE	NULL	"Plate solution y coefficients"
OK x41 		AMDY2 		DOUBLE 	AMDY2 	  	F		NULL	NONE	NULL	""
OK x41 		AMDY3 		DOUBLE 	AMDY3 	  	F		NULL	NONE	NULL	""
OK x41 		AMDY4 		DOUBLE 	AMDY4 	  	F		NULL	NONE	NULL	""
OK x41 		AMDY5 		DOUBLE 	AMDY5 	  	F		NULL	NONE	NULL	""
OK x41 		AMDY6 		DOUBLE 	AMDY6 	  	F		NULL	NONE	NULL	""
OK x41 		AMDY7 		DOUBLE 	AMDY7 	  	F		NULL	NONE	NULL	""
OK x41 		AMDY8 		DOUBLE 	AMDY8 	  	F		NULL	NONE	NULL	""
OK x41 		AMDY9 		DOUBLE 	AMDY9 	  	F		NULL	NONE	NULL	""
OK x41 		AMDY10 		DOUBLE 	AMDY10 	  	F		NULL	NONE	NULL	""
OK x41 		AMDY11 		DOUBLE 	AMDY11 	  	F		NULL	NONE	NULL	""
OK x41 		AMDY12 		DOUBLE 	AMDY12 	  	F		NULL	NONE	NULL	""
OK x41 		AMDY13 		DOUBLE 	AMDY13 	  	F		NULL	NONE	NULL	""
OK x41 		AMDY14 		DOUBLE 	AMDY14 	  	F		NULL	NONE	NULL	""
OK x41 		AMDY15 		DOUBLE 	AMDY15 	  	F		NULL	NONE	NULL	""
OK x41 		AMDY16 		DOUBLE 	AMDY16 	  	F		NULL	NONE	NULL	""
OK x41 		AMDY17 		DOUBLE 	AMDY17 	  	F		NULL	NONE	NULL	""
OK x41 		AMDY18 		DOUBLE 	AMDY18 	  	F		NULL	NONE	NULL	""
OK x41 		AMDY19 		DOUBLE 	AMDY19 	  	F		NULL	NONE	NULL	""
OK x41 		AMDY20 		DOUBLE 	AMDY20 	  	F		NULL	NONE	NULL	""
OK x41 		OBJCTRA 	STRING 	OBJCTRA   	F		NULL	NONE	NULL 	"Object Right Ascension (J2000)"
OK x41 		OBJCTDEC 	STRING 	OBJCTDEC 	F		NULL	NONE	NULL	"Object Declination (J2000)"
OK x41 		OBJCTX 		FLOAT 	OBJCTX 	  	F		NULL	NONE	NULL	"Object X on plate (pixels)"
OK x41		OBJCTY 		FLOAT 	OBJCTY 	  	F		NULL	NONE	NULL	"Object Y on plate (pixels)"
OK x41 		NBFCPYRT	INT	NBFCPYRT	F		NULL	NONE	NULL	"Number of brief copyright statement lines"
OK x41		BFCPYRT1	STRING	BFCPYRT1	F		NULL	NONE    NULL	""
OK x41		BFCPYRT2	STRING	BFCPYRT2	F		NULL	NONE    NULL	""
OK x41		NFLCPYRT	INT	NFLCPYRT	F		NULL	NONE	NULL	"Number of full copyright statement lines"
OK x41		FLCPYRT1	STRING	FLCPYRT1	F		NULL	NONE	NULL	""
OK x41		FLCPYRT2	STRING	FLCPYRT2	F		NULL	NONE	NULL	""
OK x41		FLCPYRT3	STRING	FLCPYRT3	F		NULL	NONE	NULL	""
OK x41		FLCPYRT4	STRING	FLCPYRT4	F		NULL	NONE	NULL	""
OK x41		FLCPYRT5	STRING	FLCPYRT5	F		NULL	NONE	NULL	""
OK x41		FLCPYRT6	STRING	FLCPYRT6	F		NULL	NONE	NULL	""
OK x41		FLCPYRT7	STRING	FLCPYRT7	F		NULL	NONE	NULL	""
OK x41		FLCPYRT8	STRING	FLCPYRT8	F		NULL	NONE	NULL	""
OK x41		FLCPYRT9	STRING	FLCPYRT9	F		NULL	NONE	NULL	""
OK x41		FLCPYRTA	STRING	FLCPYRTA	F		NULL	NONE	NULL	""
OK x41		FLCPYRTB	STRING	FLCPYRTB	F		NULL	NONE	NULL	""
OK x41		FLCPYRTC	STRING	FLCPYRTC	F		NULL	NONE	NULL	""
OK x41		FLCPYRTD	STRING	FLCPYRTD	F		NULL	NONE	NULL	""
OK x41		FLCPYRTE	STRING	FLCPYRTE	F		NULL	NONE	NULL	""
OK x41		FLCPYRTF	STRING	FLCPYRTF	F		NULL	NONE	NULL	""
OK x41		HISTORY  	STRING	HISTORY  	F		NULL	NONE	NULL	""
OK x41		FITSDATE	STRING	FITSDATE	F		NULL	NONE	NULL	"Date FITS file was generated"
OK x41		COMMENT		STRING	COMMENT		F		NULL	NONE	NULL	""
OK x41		XTENSION	STRING	XTENSION	F		EXT	NONE	NULL	"Image extension"
OK x41		PCOUNT  	INT	PCOUNT  	F		NULL	NONE	NULL	"random parameters"
OK x41		GCOUNT  	INT	GCOUNT  	F		NULL	NONE	NULL	"number of data groups"
OK x41		INHERIT  	BOOLEAN	INHERIT  	F		EXT	NONE	NULL	"inherit the primary header"
OK x41		IRAF-TLM	STRING	IRAF-TLM	F		NULL	NONE	NULL	"Time of last modification"
OK x41		ORIGIN1      	INT	ORIGIN1    	F		1	NONE	NULL	"x coord for the  bottom left corner of a data chunk"
OK x41		ORIGIN2      	INT	ORIGIN2    	F		2	NONE	NULL	"y coord for the bottom left corner of a data chunk"
OK x41		AXISSZ1      	INT	AXISSZ1    	F		3	NONE	NULL	"length of x axis for entire image"
OK x41		AXISSZ2      	INT	AXISSZ2    	F		3	NONE	NULL	"lenght of y axis for entire image"
OK x41		multiArray	ANY	ARRAY		F		NULL	EXTEN	NULL	"Multi-dimension array for testing."
OK x41		EXTLEVEL	INT	EXTLEVEL	F		NULL	NONE	NULL	"level of the extension file in a hierarchy"
	
OK x41		SdsLongName	STRING	FitsLongKeyword	F		NULL	NONE	NULL	"this keyword is meant to illustrate the libdd swap bug"
	
OK nici		instrument	STRING	INSTRUME	F		NULL	NONE	NULL	"Instrument used to acquire data."
OK nici		axisSize	INT     AXISSZ		F		NULL	INDEX	NULL    "Data array dimensions.&"
OK nici		origin		INT	ORIGINS		F		NULL	INDEX	NULL    "A frames data origin.&"
