#
#  Application identification
#
# Keyword	application 
#
# -------	-----------
#

identity	dataServerSS



#
#  Imp information
#
# keyword	Max connects
#
# --------	------------
#

imp             20              120


#
#  Database information - Warning, cannot name unique table "unique" that is
#                         a Sybase reserved word.
#
# keyword	ServerName	DatabaseName	Unique		Dataset	Process
#						Tbl		Tbl	Tbl
# --------	------------	------------	------		-------	-------
#

##database	SUMMIT		dhs_test	uniqueName	dataset	process
database	GEMINI_SOUTH_SUMMIT dhsDB        uniqueName	dataset	process


#
#  Compression information - Data Server uncompresses stored compressed files.
#
# keyword	Compression	Compression
#		Extension	Type
# --------	-----------	-----------
#

compress	".gz"		"GZIP"


#
#  Disk Storage information
#
# keyword	Temporary	Permanent	
#		Volume Name	Volume Name 
#               (Volume names must exist in the
#		mds table and contains the path
#		to where files are written )
# --------	-----------	-----------
#

storage		TEMP		PERM	


#
#  Server Identity Names that the Data Server connects to
#
# keyword	Storage		Oldp		Status		QuickLook
# -------	-------		----		------		---------
#

servers		sim4DataSS	sim4DataSS	statusServerSS	qlServerSS
#servers		dhsSim4Data	dhsSim4Data	statusServer	qlServer


#
#  Authorized sites connection information.
#  Accepts wildcard "*" in identity for client connections only.
#
# keyword	Identity		IP Address
# -------	--------		-------
#

authorized      storeServerSS           172.17.3.54
authorized      oldpServerSS            172.17.3.54
authorized      statusServerSS          172.17.3.54
authorized      qlServerSS              172.17.3.54
authorized      commandServerSS         172.17.3.54
authorized      tool1                   172.17.3.54
authorized      ocs                     172.17.3.54
authorized      dhsPut*                 172.17.3.54
authorized      dhsGet*                 172.17.3.54
authorized      cmdSender*              172.17.3.54
authorized      dataServerRemote2       172.17.3.54
authorized      sim1                    172.17.3.54

authorized      trecskepler-data        172.17.3.64
authorized      ufdhsput                172.17.3.64
authorized      trecskepler-ctl         172.17.2.64
authorized      bhrosdc                 172.17.2.73
authorized      hrwfs                   172.17.2.40
authorized      pwfs1                   172.17.2.38
authorized      pwfs2                   172.17.2.39
authorized      oiwfs                   172.17.2.41
authorized      gmosdc                  172.17.3.50
authorized      gnirsdc1                172.17.3.83
authorized      dhsPut-nici-data1       172.17.3.70
authorized      dhsPut-nici-data2       172.17.3.71
authorized      dhsPut-nici-ocs         172.17.2.91
authorized      flamingos2              172.17.102.130
authorized      seqexec                 172.17.2.12
authorized      seqexectest             172.17.2.12
authorized      seqexectrecs            172.17.2.12
authorized      seqexecgnirs            172.17.2.12
authorized      sim4DataSS              172.17.2.12
authorized      dataCopierSB            172.16.5.34
authorized      seqexec-cpocon00        172.17.44.50
authorized      seqexec-cpocon01        172.17.44.51
authorized      seqexec-cpocon02        172.17.44.52
authorized      seqexec-cpocon03        172.17.44.53
authorized      seqexec-cpocon04        172.17.44.54
authorized      seqexec-cpocws01        172.17.44.61
authorized      seqexec-sbfswgdev02     172.16.5.221
authorized      seqexec-sbfcon00        172.16.44.50
authorized      seqexec-sbfcon01        172.16.44.51
authorized      seqexec-sbfcon02        172.16.44.52
authorized      seqexec-sbfcon03        172.16.44.53
authorized      seqexec-sbfcon04        172.16.44.54
authorized      GSAOI                   172.17.3.40
authorized      gsaoiODGW               172.17.3.40
authorized      gsoaoi-cc               172.17.2.122

#
#  Default dataset and unique name settings.
#
# keyword	Lifetime	Location	Source
#	     ("P"erm or"T"emp)	("N" or "S")	("O"CS, "S"ummit, "B"ase)
#-------    -----------------	------------	-------------------
#

names		P		S	S


#
#  Fits table name where fits header information is stored.
#
# keyword	Fits table name
# -------	---------------
#

#maybe fitsTable fitsTable ???
fitsTable	fitsTable


#
#  Archive Segregation Directory Name
#
# keyword	Segregation Dir
# -------	----------------
#

segregation	GEMINI_S

