#
#  Application identity
#
# Keyword	application 
#		identity
# -------	-----------
#

identity	sim4DataSS


#
#  Imp information
#
# keyword	Maximum #
#		of connections
# --------	--------------
#

imp		20


#
#  DataServer information
#
# Keyword	dataServer	dataServer
#		identity	IP Address
# ------- 	----------	----------
#

dataServer	dataServerSS	cpodhs03

