#/*+
#************************************************************************
#****  C A N A D I A N   A S T R O N O M Y   D A T A   C E N T R E  *****
#*
#* (c) 1998.				(c) 1998.
#* National Research Council		Conseil national de recherches
#* Ottawa, Canada, K1A 0R6 		Ottawa, Canada, K1A 0R6
#* All rights reserved			Tous droits reserves
#* 					
#* NRC disclaims any warranties,	Le CNRC denie toute garantie
#* expressed, implied, or statu-	enoncee, implicite ou legale,
#* tory, of any kind with respect	de quelque nature que se soit,
#* to the software, including		concernant le logiciel, y com-
#* without limitation any war-		pris sans restriction toute
#* ranty of merchantability or		garantie de valeur marchande
#* fitness for a particular pur-	ou de pertinence pour un usage
#* pose.  NRC shall not be liable	particulier.  Le CNRC ne
#* in any event for any damages,	pourra en aucun cas etre tenu
#* whether direct or indirect,		responsable de tout dommage,
#* special or general, consequen-	direct ou indirect, particul-
#* tial or incidental, arising		ier ou general, accessoire ou
#* from the use of the software.	fortuit, resultant de l'utili-
#* 					sation du logiciel.
#*
#************************************************************************
#*
#*   Script Name:	am/config/libam.config
#*
#*   Purpose:
#*	Configuration file for the am library.
#*
#*   Date		: February 4, 1998
#*
#*   SCCS data		: @(#)
#*	Module Name	: libAm.config
#*	Version Number	: 1.6
#*	Release Number	: 1
#*	Last Updated	: 04/29/99
#*
#*   Programmer		: Steve Cockayne
#*
#*   Modification History:
#*	98/02/04 SEC  :	Entire library copied from VLT development tree 
#*			to CADC development tree. Initial check-in.
#*	98/09/04 JSD  :	Added deviceDb info and scripts.
#*	98/01/21 SDJ  : Added default precision.  Added script names info.
#*	99/04/29 NRH  : Added the media_actions table.
#*
#****  C A N A D I A N   A S T R O N O M Y   D A T A   C E N T R E  *****
#************************************************************************
#-*/


#
#   Data Stage Paths.
#
# Keyword	User			Archive			Media
#--------	----			-------			-----
#

dataStage	/staging/storage/user	/staging/storage/archive /staging/media


#
#  Request database parameters
#
#  Keywd database database    media media_files	media_units media_stages status action
#	 server   table	      table table	table	    table	 table	table
#  ----- -------- --------    ----- -----------	----------- ------------ ------ ------------
#

amDb	 SYBASE   asto	      media media_files	media_units media_stages status media_action



#
#  Request device table parameters
#
#  Keywd	device		booking		logicalDevice	medaiTypes
#		table		table		table		table
#  -----	-----------	--------	-------------	----------
#

deviceTables	devices		bookDevice	logicalDevices	mediaTypes



#
#   Media scripts.
#
# Keyword  Media Type	Prep Script		Prep Config. File    Write Script	    Write Config. File
#--------  -----------	------------		-----------------    ------------	    ------------------
#

scripts	  TP		tpPrep		     	none		    tpWrite		     none
scripts	  CD            cdPrepRunMkisofs-111	mkisofs-111.config  cdWriteRunCdrecord-16    none
scripts	  VD		dvdPrepRunMkisofs-111	mksiofs-111.config  dvdWriteRunCdrecord-16   none



#
#   mediaIngest script name (This line is optional in the config file.
#   It is the script name for figuring out the uncompressed size of a file)
#
# Keyword  	Script Name
#--------  	-----------
#

ingestScript	mi_size	


#
#   media unit names have a numerical value appended to the unit name root.
#   This number is padded with 0's; the number of 0's depends on the 
#   precision value.  The precision value is normally obtained from the
#   media table, however, in order to provide backwards compatiblity the
#   default, defined here, is used if no value is given.
#
# Keyword  		precision
#--------  		-----------
#

defaultPrecision	4

