#
#***********************************************************************
#***  C A N A D I A N   A S T R O N O M Y   D A T A   C E N T R E  *****
#
# (c) 1997				(c) 1997
# National Research Council		Conseil national de recherches
# Ottawa, Canada, K1A 0R6 		Ottawa, Canada, K1A 0R6
# All rights reserved			Tous droits reserves
# 					
# NRC disclaims any warranties,	Le CNRC denie toute garantie
# expressed, implied, or statu-	enoncee, implicite ou legale,
# tory, of any kind with respect	de quelque nature que se soit,
# to the software, including		concernant le logiciel, y com-
# without limitation any war-		pris sans restriction toute
# ranty of merchantability or		garantie de valeur marchande
# fitness for a particular pur-	ou de pertinence pour un usage
# pose.  NRC shall not be liable	particulier.  Le CNRC ne
# in any event for any damages,	pourra en aucun cas etre tenu
# whether direct or indirect,		responsable de tout dommage,
# special or general, consequen-	direct ou indirect, particul-
# tial or incidental, arising		ier ou general, accessoire ou
# from the use of the software.	fortuit, resultant de l'utili-
# 					sation du logiciel.
#
#***********************************************************************
#
# FILENAME
# dhsStatus/config/dhsStatus.config
#
# PURPOSE:
# Configuration file for the DHS status server.
#
#INDENT-OFF*
# $Log: not supported by cvs2svn $
# Revision 1.1.1.1  2002/02/21 20:23:34  tpaz
#
#
# Revision 1.1.1.1  1999/08/23 19:58:29  cvs-tuc
# Initial install into CVS of dhs-0.16
#
# Revision 1.11  1999/06/17 22:42:38  nhill
# *** empty log message ***
#
# Revision 1.10  1998/06/16 22:23:16  jaeger
# Fixed resource fullname record.
#
# Revision 1.9  1998/06/02 18:03:10  jaeger
# Added fullName record to resource records.
#
# Revision 1.8  1998/05/12 20:27:34  nhill
# Added an epics flag to the channel data.
# Added merged channel keywords.
# Added a timeout.
#
# Revision 1.7  1998/04/02 20:18:31  jaeger
# Changed temp and perm directories to a legitimate directory on salish.
#
# Revision 1.6  1998/03/16 21:56:20  cockayne
# Added Location/Site information.
#
# Revision 1.5  1998/03/06 19:38:34  jaeger
# Added config info. for monitoring resources.
#
# Revision 1.4  1998/02/17 00:26:58  jaeger
# Added config information of monitoring of resources.
#
# Revision 1.3  1997/08/06 21:23:40  dunn
# Added lines for DTS data server
#
# Revision 1.2  1997/06/13 20:45:49  nhill
# Added the quick look server.
#
# Revision 1.1  1997/04/16 22:32:55  nhill
# Initial revision
#
#INDENT-ON*
#
#***  C A N A D I A N   A S T R O N O M Y   D A T A   C E N T R E  *****
#***********************************************************************
#

#
#  Application identification
#
# Keyword	application 
#
# -------	-----------
#

identity	statusServer


#
#  Imp information
#
# keyword	Max connects	Timeout
#
# --------	------------	-------
#

imp		10		30


#
#  EPICS channel access information.
#
# keyword	SAD host		timeout
# -------	--------		-------
#

epics		204.174.103.184		10


#
#  Location/Site information. 
#
# keyword	Gemini Location		Gemini Site
#		("N"orth or "S"outh)	("S"ummit, "B"ase)
#-------	--------------------	-------------------
#
 
locationSite	S			B


#
#  DHS subsystem information.
#
# keyword	subsystem
#
# -------	---------
#

subsystem	STA
subsystem	CMD
subsystem	HIS
subsystem	OLP
subsystem	SDP
subsystem	QLS
subsystem	DTS
subsystem	STO


#
#  EPICS channel information.
#
# keyword	system	channel name		alias			epics
#
# -------	------	------------		-----			-----
#

channel		-	logMessage		logMessage		no

channel		-	resourceArraySize	resourceArraySize	no
channel		-	resource%d:inUse	resource%d:inUse	no
channel		-	resource%d:max		resource%d:max		no
channel		-	resource%d:name		resource%d:name		no
channel		-	resource%d:fullname	resource%d:fullname	no
channel		-	resource%d:type		resource%d:type		no
channel		-	resource%d:used		resource%d:used		no
channel		-	resource%d:units	resource%d:units	no


channel		*	health			health			no
channel		*	healthDesc		healthDesc		no
channel		*	state			state			no
channel		*	debug			debug			no
channel		*	simulate		simulate		no

channel		DTS	numIncomplete		numIncomplete		no

channel STO	alert			alert			no
channel STO     numReqs                 numReqs                 no
channel STO     reqArraySize            reqArraySize            no
channel STO     reqOverflow             reqOverflow             no
channel STO     req%d:reqId             req%d:reqId             no
channel STO     req%d:reqName           req%d:reqName           no
channel STO     req%d:mediaType         req%d:mediaType         no
channel STO     req%d:retrieveSize      req%d:retrieveSize      no
channel STO     req%d:queueSize         req%d:queueSize         no
channel STO     req%d:prepNum           req%d:prepNum           no
channel STO     req%d:writeNum          req%d:writeNum          no
channel STO     req%d:cleanupNum        req%d:cleanupNum        no
channel STO     req%d:notifyValue       req%d:notifyValue       no
channel STO     req%d:retrieveState     req%d:retrieveState     no
channel STO     req%d:queueState        req%d:queueState        no
channel STO     req%d:prepState         req%d:prepState         no
channel STO     req%d:writeState        req%d:writeState        no
channel STO     req%d:cleanupState      req%d:cleanupState      no
channel STO     req%d:notifyState       req%d:notifyState       no
channel STO     req%d:reqType           req%d:reqType           no
channel STO     req%d:numCopies         req%d:numCopies         no
channel STO     req%d:inUse             req%d:inUse             no
 
channel STO     numUnits                numUnits                no
channel STO     unitArraySize           unitArraySize           no
channel STO     unitOverflow            unitOverflow            no
channel STO     unit%d:cleanupValue     unit%d:cleanupValue     no
channel STO     unit%d:writeNum         unit%d:writeNum         no
channel STO     unit%d:prepValue        unit%d:prepValue        no
channel STO     unit%d:unitSize         unit%d:unitSize         no
channel STO     unit%d:unitName         unit%d:unitName         no
channel STO     unit%d:reqId            unit%d:reqId            no
channel STO     unit%d:inUse            unit%d:inUse            no
 
channel STO     stageArraySize          stageArraySize          no
channel STO     stage%d:inUse           stage%d:inUse           no
channel STO     stage%d:reqId           stage%d:reqId           no
channel STO     stage%d:unitName        stage%d:unitName        no
channel STO     stage%d:dirName         stage%d:dirName         no

channel STO     deviceArraySize         deviceArraySize    	no
channel STO	device%d:logicalName	device%d:logicalName	no
channel STO	device%d:type		device%d:type		no
channel STO	device%d:typeDesc	device%d:typeDesc	no
channel STO	device%d:capacity	device%d:capacity	no
channel STO	device%d:numDevices	device%d:numDevices	no
channel STO	device%d:available	device%d:available	no
channel STO	device%d:deviceInUse	device%d:deviceInUse	no
channel STO	device%d:inUse		device%d:inUse		no
channel STO	device%d:reqId		device%d:reqId		no
channel STO	device%d:unitName	device%d:unitName	no
 
channel STO     numActions              numActions              no
channel STO     actionArraySize    	actionArraySize    	no
channel STO     actionOverflow          actionOverflow          no
channel STO     action%d:position       action%d:position       no
channel STO     action%d:reqId          action%d:reqId          no
channel STO     action%d:action         action%d:action         no
channel STO     action%d:option         action%d:option         no
channel STO     action%d:active         action%d:active         no
channel STO     action%d:inUse          action%d:inUse          no


channel		OLP	job%d:inUse		job%d:inUse		no

channel		SDP	arraySize		sdpArraySize		no
channel		SDP	job%d:desc		sdpJob%d:desc		no
channel		SDP	job%d:inUse		sdpJob%d:inUse		no
channel		SDP	job%d:name		sdpJob%d:name		no
channel		SDP	job%d:recipe		sdpJob%d:recipe		no
channel		SDP	job%d:start		sdpJob%d:start		no
channel		SDP	job%d:type		sdpJob%d:type		no

#
# Control information for merging subsystem channels.
#
# Keyword	channel		values
# -------	-------		------
#

merge		health		BAD WARNING GOOD
merge		state 		TESTING INITIALIZING STARTING SHUTTINGDOWN RUNNING
merge		debug		FULL MIN NONE
merge		simulate 	FULL FAST VSM NONE


#
# Montoring information
#

timer		90


#
# keyword 	descriptive 		path
#		name
#--------	-------------		-----------------
#

md		"Temp Store"		/data/salish/1/jaeger
md		"Perm Store"		/data/salish/1/jaeger
md		"siska /tmp"		/tmp

#
# Database monitoring information
#

#
# keyword	server name
#--------	-----------
#

dbServer	SUMMIT

#
# keyword 	descriptive 		database
#		name			name
#--------	-------------		-----------------
#

db		"DHS DB"		dhs_test
