#
#***********************************************************************
#***  C A N A D I A N   A S T R O N O M Y   D A T A   C E N T R E  *****
#
# (c) 1997				(c) 1997
# National Research Council		Conseil national de recherches
# Ottawa, Canada, K1A 0R6 		Ottawa, Canada, K1A 0R6
# All rights reserved			Tous droits reserves
# 					
# NRC disclaims any warranties,	Le CNRC denie toute garantie
# expressed, implied, or statu-	enoncee, implicite ou legale,
# tory, of any kind with respect	de quelque nature que se soit,
# to the software, including		concernant le logiciel, y com-
# without limitation any war-		pris sans restriction toute
# ranty of merchantability or		garantie de valeur marchande
# fitness for a particular pur-	ou de pertinence pour un usage
# pose.  NRC shall not be liable	particulier.  Le CNRC ne
# in any event for any damages,	pourra en aucun cas etre tenu
# whether direct or indirect,		responsable de tout dommage,
# special or general, consequen-	direct ou indirect, particul-
# tial or incidental, arising		ier ou general, accessoire ou
# from the use of the software.	fortuit, resultant de l'utili-
# 					sation du logiciel.
#
#***********************************************************************
#
# FILENAME
# dhsData/config/dhsData.config
#
# PURPOSE:
# Configuration file for the DHS data server.
#
#INDENT-OFF*
# $Log$
#INDENT-ON*
#
#***  C A N A D I A N   A S T R O N O M Y   D A T A   C E N T R E  *****
#***********************************************************************
#

#
#  Application identification
#
# Keyword	application 
#
# -------	-----------
#

identity	dataServerNS



#
#  Imp information
#
# keyword       Max connects    Client retry period
#                               (seconds)
# --------      ------------    --------------
#

imp             20              120



#
#  Database information - Warning, cannot name unique table "unique" that is
#                         a Sybase reserved word.
#
# keyword	ServerName	DatabaseName	Unique		Dataset	Process
#						Tbl		Tbl	Tbl
# --------	------------	------------	------		-------	-------
#

#database	GEMINI_NORTH_SUMMIT dhsDB        uniqueName	dataset	process
database	scott 		dhsDB_NS        uniqueName	dataset	process

#
#  Compression information - Data Server uncompresses stored compressed files.
#
# keyword	Compression	Compression
#		Extension	Type
# --------	-----------	-----------
#

compress	".gz"		"GZIP"


#
#  Disk Storage information
#
# keyword	Temporary	Permanent	
#		Volume Name	Volume Name 
#               (Volume names must exist in the
#		mds table and contains the path
#		to where files are written )
# --------	-----------	-----------
#

storage		TEMP		PERM	


#
#  Server Identity Names that the Data Server connects to
#
# keyword	Storage		Oldp		Status		QuickLook
# -------	-------		----		------		---------
#

servers		sim4DataNS	sim4DataNS	statusServerNS	qlServerNS
#servers		dataCopierNB   dataCopierNB	statusServerNS	qlServerNS


#
#  Authorized sites connection information.
#  Accepts wildcard "*" in identity for client connections only.
#
# keyword	Identity		IP Address
# -------	--------		-------
#
authorized      sabrina                 10.1.5.64
authorized      dataCopierNB            10.1.5.64 
authorized	dataServerNB	        10.1.5.64
authorized	oldpServerNS		10.2.2.56
authorized	statusServerNS		10.2.2.56
authorized	qlServerNS              10.2.2.56
authorized	commandServerNS         10.2.2.56
authorized	tool1			10.2.2.56
authorized	ocs			10.2.2.56
authorized	dhsPut*			10.2.2.56
authorized	dhsGet*			10.2.2.56
authorized	cmdSender*		10.2.2.56

# And from the crate where wfs vxworks systems are running
authorized	sim0			10.1.2.170
authorized	sim2			10.1.2.172
authorized	sim3			10.1.2.173
authorized	sim4			10.1.2.174
authorized	sim5			10.1.2.175
authorized	sim6			10.1.2.176
authorized	agwps0			10.2.2.103
authorized	hrwfs			10.2.2.110
authorized	pwfs1			10.2.2.111
authorized	pwfs2			10.2.2.112
authorized	oiwfs			10.2.2.113

# For testing
authorized	dayle			10.1.5.32
authorized 	dhsGetIt		10.1.5.32
authorized 	dhsPutIt		10.1.5.32

# For NIRI
authorized	minnie			10.1.5.68
authorized	mko-dc-data-niri	10.2.2.117
authorized	niri-data         	10.2.3.113

# For GNIRS 
authorized	ngnirscc		10.2.2.87
authorized	ngnirsdc1		10.2.2.83
authorized	ngnirsdc2		10.2.2.84
#authorized	oiwfs-hbf		10.1.2.113

# For sequence exec and testing
# MUST BE UNIQUE !! mbec
# from archie
authorized	seqexec			   10.2.2.56
authorized	seqexectest			10.2.2.56
authorized	seqexecalt			10.2.2.56
authorized	seqexec-swgtst01		10.1.2.100
authorized	seqexec-hbfcon00		10.1.55.17
authorized	seqexec-hbfcon01		10.1.55.18
authorized	seqexec-hbfcon02		10.1.55.20
authorized	seqexec-hbfcon03		10.1.55.21
authorized	seqexec-mkocon00		10.2.2.134
authorized	seqexec-mkocon01		10.2.2.135
authorized	seqexec-mkocon02		10.2.2.136
authorized	seqexec-mkocon03		10.2.2.137
authorized	seqexec-mkocws01		10.2.2.144
authorized	seqexec-hbfgnirs1		10.1.5.70

# For MICHELLE
authorized	mch-master			 10.2.2.243
#authorized	mch-icsd			    10.2.2.56

# For GMOS
authorized      gmosdc                  10.2.2.122
#authorized       gmosdc                  10.2.3.122

# For altair
authorized      wfcs2x                  10.2.2.236

authorized      sim4DataNS              10.2.2.56

authorized      dhsInstSim              10.2.2.57 

# For nifs

authorized      nifs-dc                 10.2.2.91
authorized 	NIFS			10.2.2.91


#
#  Default dataset and unique name settings.
#
# keyword	Lifetime	Location	Source
#	     ("P"erm or"T"emp)	("N" or "S")	("O"CS, "S"ummit, "B"ase)
#-------    -----------------	------------	-------------------
#

names		P		N		S


#
#  Fits table name where fits header information is stored.
#
# keyword	Fits table name
# -------	---------------
#

fitsTable	fitsTable


#
#  Archive Segregation Directory Name
#
# keyword	Segregation Dir
# -------	----------------
#

# Put back after testing
segregation	GEMINI_N
#segregation	TEST
