#!/bin/csh -f
#***********************************************************************
#***  C A N A D I A N   A S T R O N O M Y   D A T A   C E N T R E  *****
#
# (c) 1997				(c) 1997
# National Research Council		Conseil national de recherches
# Ottawa, Canada, K1A 0R6 		Ottawa, Canada, K1A 0R6
# All rights reserved			Tous droits reserves
# 					
# NRC disclaims any warranties,	Le CNRC denie toute garantie
# expressed, implied, or statu-	enoncee, implicite ou legale,
# tory, of any kind with respect	de quelque nature que se soit,
# to the software, including		concernant le logiciel, y com-
# without limitation any war-		pris sans restriction toute
# ranty of merchantability or		garantie de valeur marchande
# fitness for a particular pur-	ou de pertinence pour un usage
# pose.  NRC shall not be liable	particulier.  Le CNRC ne
# in any event for any damages,	pourra en aucun cas etre tenu
# whether direct or indirect,		responsable de tout dommage,
# special or general, consequen-	direct ou indirect, particul-
# tial or incidental, arising		ier ou general, accessoire ou
# from the use of the software.	fortuit, resultant de l'utili-
# 					sation du logiciel.
#
#***********************************************************************
#
# FILENAME
# dd/config/libdd.config
#
# PURPOSE:
# Configuration file for the data dictionary.
#
#INDENT-OFF*
# $Log: not supported by cvs2svn $
# Revision 1.1.1.1  2002/02/21 20:23:33  tpaz
#
#
# Revision 1.1.1.1  1999/08/23 19:58:04  cvs-tuc
# Initial install into CVS of dhs-0.16
#
# Revision 1.7  1998/04/30 06:02:36  jaeger
# Changed keywords as follows: frameId -> FRMID, frameName -> frmName,
# extensionVersion -> EXTNAME, and dataType -> EXTVER.
#
# Revision 1.6  1997/08/22 17:51:21  jaeger
# Allowable array types changed to "EXTEN", "INDEX" and "NONE"
# Keywords are converted to uppercase, warning if they are not
#
# Revision 1.5  1997/08/15 20:41:52  jaeger
# Added proper entried for require DHS keywords in icd3
#
# Revision 1.4  1997/07/29 20:13:31  dunn
# Lots of changes.
#
#INDENT-ON*
#
#***  C A N A D I A N   A S T R O N O M Y   D A T A   C E N T R E  *****
#***********************************************************************
#

#
#  Data Dictionary
#  Instrument: Can be an instrument name found in fits, or a wildcard *
#  Attribute : This is the attribute name in the sds struct.
#  Data Type: Valid values are:CHAR, STRING, BOOLEAN, BYTE, UBYTE, SHORT,
#     USHORT, INT, UINT, FLOAT, DOUBLE, or ANY which indicates not to check 
#     the data type it can change.
#  Keyword: This is the keyword in the fits file.
#  Gemini Mand.:  T or F.  This is for future use, set to F for now.
#  Null Value:  This is the value in the fits or sds struct that indicates it
#     is a null value.
#  Array: Valid values are: EXTEN, INDEX, NONE.  Which indicates if the
#     data is in a multi-dimensional array(EXTEN), an indexed array(INDEX),
#    or a scalar value(NONE).  Multi-dimensional arrays will be written in the
#    FITS file as FITS extensions, indexed arrays as a series of keywords, and
#    scalar values as a single keyword.
#  Column Name: Valid values are "NULL" (which indicates no column name), or a 
#     string name.  If it has a name, then when a fits header is ingested, then
#     this keyword's value will be written to the database.
#  Comment: A quote enclosed comment.
#
#
#  Instrument	Attribute	Data	Keyword		 Gemini Mand.	Null	Array	Column	Comment	
#		Name in SDS	Type	Name in Fits	Keyword in Fits	Value		Name
#  ----------	---------	------	------------	-------------	-----	-----	-------	---------------------------------
#

OK *		frameId  	STRING	FRMID 			F	NULL	NONE	NULL	"Gemini frame identifier"
OK *		frameName	STRING  FRMNAME			F	NULL	NONE	NULL	"Name assigned to a frame of data."
OK *		dataType	STRING	EXTNAME			F	NULL	NONE	NULL	"Name assigned to a FITS extenstion"
OK *		extensionVersion INT	EXTVER			F	NULL	NONE	NULL	"Number assigned to a FITS extenstion"
OK *		instrument	STRING	INSTRUME		F	NULL	NONE	NULL	"identifier for instrument used to acquire data"
OK * 		BSCALE   	DOUBLE 	BSCALE   	 	F	1.0	NONE	NULL	"REAL = TAPE*BSCALE + BZERO"
OK * 		BZERO    	DOUBLE 	BZERO    	 	F	0.0	NONE	NULL	""
OK * 		OBJECT   	STRING  OBJECT   	 	F	NULL	NONE	NULL	"Object ID"
OK * 		ORIGIN   	STRING  ORIGIN   	 	F	NULL	NONE	NULL	""
OK * 		DATE     	STRING  DATE     	 	F	NULL	NONE	NULL	""
OK * 		IRAFNAME 	STRING  IRAFNAME 	 	F	NULL	NONE	NULL	"NAME OF IRAF IMAGE FILE"
OK * 		IRAF-MAX 	FLOAT  	IRAF-MAX 	 	F	0.0	NONE	NULL	"DATA MAX"
OK * 		IRAF-MIN 	FLOAT  	IRAF-MIN 	 	F	0.0	NONE	NULL	"DATA MIN"
OK * 		IRAF-BPX 	INT    	IRAF-BPX 	 	F	16	NONE	NULL	"DATA BITS/PIXEL"
OK * 		IRAFTYPE 	STRING  IRAFTYPE 	 	F	LONG	NONE	NULL	"PIXEL TYPE"
OK * 		CRVAL1   	DOUBLE 	CRVAL1   	 	F	NULL	NONE	NULL	"RA at Ref pix in decimal degrees"
OK * 		CRVAL2   	DOUBLE 	CRVAL2   	 	F	NULL	NONE	NULL	"DEC at Ref pix in decimal degrees"
OK * 		CRPIX1   	FLOAT  	CRPIX1   	 	F	NULL	NONE	NULL	"Refpix of first axis"
OK * 		CRPIX2   	FLOAT  	CRPIX2   	 	F	NULL	NONE	NULL	"Refpix of second axis"
OK * 		CD1_1    	FLOAT  	CD1_1    	 	F	NULL	NONE	NULL	"CD matrix"
OK * 		CD1_2    	FLOAT  	CD1_2    	 	F	NULL	NONE	NULL	"CD matrix"
OK * 		CD2_2    	FLOAT  	CD2_2    	 	F	NULL	NONE	NULL	"CD matrix"
OK * 		CD2_1    	FLOAT  	CD2_1    	 	F	NULL	NONE	NULL	"CD matrix"
OK * 		DATAMIN  	UINT  	DATAMIN  	 	F	NULL	NONE	NULL	"DATA MIN"
OK * 		DATAMAX  	ANY  	DATAMAX  	 	F	NULL	NONE	NULL	"DATAMAX"
OK * 		CTYPE1   	STRING  CTYPE1   	 	F	NULL	NONE	NULL	"R.A. in tangent plane projection"
OK * 		CTYPE2   	STRING  CTYPE2   	 	F	NULL	NONE	NULL	"DEC. in tangent plane projection"
OK *   		SIMPLE   	STRING  SIMPLE   	 	F	NULL	NONE	NULL	""
OK *   		FITSFILE 	STRING  FITSFILE 	 	F	NULL	NONE	NULL	""
OK * 		PLTLABEL 	STRING  PLTLABEL 	  	F	NULL	NONE	NULL	"Observatory plate label"
OK * 		PLATEID  	STRING  PLATEID 	  	F	NULL	NONE	NULL	"GSSS Plate ID"
OK * 		REGION 		STRING 	REGION 		  	F	NULL	NONE	NULL	"GSSS Region Name"
OK * 		DATE-OBS 	STRING 	DATE-OBS 	  	F	NULL	NONE	NULL	"UT date of Observation"
OK * 		DATE-END 	STRING 	DATE-END 	  	F	NULL	NONE	NULL	"UT date of Observation"
OK * 		TIME-OBS 	STRING 	TIME-OBS 	  	F	NULL	NONE	NULL	"UT date of Observation"
OK * 		TIME-END 	STRING 	TIME-END 	  	F	NULL	NONE	NULL	"UT date of Observation"
OK * 		UT 		STRING 	UT 		  	F	NULL	NONE	NULL	"UT time of Observation"
OK * 		EPOCH 		DOUBLE 	EPOCH 		  	F	NULL	NONE	NULL	"Epoch of plate"
OK * 		PLTRAH 		INT    	PLTRAH 		  	F	NULL	NONE	NULL	"Plate center RA"
OK * 		PLTRAM 		INT    	PLTRAM 		  	F	NULL	NONE	NULL	""
OK * 		PLTRAS 		DOUBLE 	PLTRAS 		  	F	NULL	NONE	NULL	""
OK * 		PLTDECSN 	STRING 	PLTDECSN 	  	F	NULL	NONE	NULL	"Plate center Dec"
OK * 		PLTDECD 	INT   	PLTDECD 	  	F	NULL	NONE	NULL	""
OK * 		PLTDECM 	INT    	PLTDECM 	  	F	NULL	NONE	NULL	""
OK * 		PLTDECS 	DOUBLE 	PLTDECS 	  	F	NULL	NONE	NULL	""
OK * 		EQUINOX 	DOUBLE 	EQUINOX 	  	F	NULL	NONE	NULL	"Julian Reference frame equinox"
OK * 		EXPOSURE 	DOUBLE 	EXPOSURE 	  	F	NULL	NONE	NULL	"Exposure time minutes"
OK * 		BANDPASS 	INT    	BANDPASS 	 	F	NULL	NONE	NULL	"GSSS Bandpass code"
OK * 		PLTGRADE 	INT    	PLTGRADE 	  	F	NULL	NONE	NULL	"Plate grade"
OK * 		PLTSCALE 	DOUBLE 	PLTSCALE 	  	F	NULL	NONE	NULL	"Plate Scale arcsec per mm"
OK * 		SITELAT 	STRING 	SITELAT 	  	F	NULL	NONE	NULL	"Latitude of Observatory"
OK * 		SITELONG 	STRING 	SITELONG 	  	F	NULL	NONE	NULL	"Longitude of Observatory"
OK * 		TELESCOP 	STRING 	TELESCOP 	  	F	ROSAT	NONE	type1	"Telescope where plate taken"
OK * 		CNPIX1 		USHORT 	CNPIX1 		  	F	NULL	NONE	NULL	"X corner (pixels)"
OK * 		CNPIX2 		SHORT  	CNPIX2 		  	F	NULL	NONE	NULL	"Y corner (pixels)"
OK * 		DATATYPE 	STRING 	DATATYPE 	  	F	NULL	NONE	NULL	"Type of Data"
OK * 		SCANIMG 	STRING 	SCANIMG 	  	F	NULL	NONE	NULL	"Name of original scan"
OK * 		SCANNUM 	BYTE   	SCANNUM 	  	F	NULL	NONE	NULL	"Identifies scan of the plate"
OK * 		DCHOPPED 	BOOLEAN	DCHOPPED 	  	F	NULL	NONE	NULL	"Image repaired for chopping effects"
OK * 		DSHEARED 	BOOLEAN	DSHEARED 	  	F	NULL	NONE	NULL	"Image repaired for shearing effects"
OK * 		DSCNDNUM 	UBYTE	DSCNDNUM 	  	F	NULL	NONE	NULL	"Identifies descendant of plate scanimage"
OK * 		XPIXELSZ 	DOUBLE 	XPIXELSZ 	  	F	NULL	NONE	NULL	"X pixel size microns"
OK * 		YPIXELSZ 	DOUBLE 	YPIXELSZ 	  	F	NULL	NONE	NULL	"Y pixel size microns"
OK * 		PPO1 		DOUBLE 	PPO1 		  	F	NULL	NONE	NULL	"Orientation Coefficients"
OK * 		PPO2 		DOUBLE 	PPO2 		  	F	NULL	NONE	NULL	""
OK * 		PPO3 		DOUBLE 	PPO3 		  	F	NULL	NONE	NULL	""
OK * 		PPO4 		DOUBLE 	PPO4 		  	F	NULL	NONE	NULL	""
OK * 		PPO5 		DOUBLE 	PPO5 		  	F	NULL	NONE	NULL	""
OK * 		PPO6 		DOUBLE 	PPO6 		  	F	NULL	NONE	NULL	""
OK * 		AMDX1 		DOUBLE 	AMDX1 		  	F	NULL	NONE	NULL	"Plate solution x coefficients"
OK * 		AMDX2 		DOUBLE 	AMDX2 		  	F	NULL	NONE	NULL	""
OK * 		AMDX3 		DOUBLE 	AMDX3 		  	F	NULL	NONE	NULL	""
OK * 		AMDX4 		DOUBLE 	AMDX4 		  	F	NULL	NONE	NULL	""
OK * 		AMDX5 		DOUBLE 	AMDX5 		  	F	NULL	NONE	NULL	""
OK * 		AMDX6 		DOUBLE 	AMDX6 		  	F	NULL	NONE	NULL	""
OK * 		AMDX7 		DOUBLE 	AMDX7 		  	F	NULL	NONE	NULL	""
OK * 		AMDX8 		DOUBLE 	AMDX8 		  	F	NULL	NONE	NULL	""
OK * 		AMDX9 		DOUBLE 	AMDX9 		  	F	NULL	NONE	NULL	""
OK * 		AMDX10 		DOUBLE 	AMDX10 		  	F	NULL	NONE	NULL	""
OK * 		AMDX11 		DOUBLE 	AMDX11 		  	F	NULL	NONE	NULL	""
OK * 		AMDX12 		DOUBLE 	AMDX12 		  	F	NULL	NONE	NULL	""
OK * 		AMDX13 		DOUBLE 	AMDX13 		  	F	NULL	NONE	NULL	""
OK * 		AMDX14 		DOUBLE 	AMDX14 		  	F	NULL	NONE	NULL	""
OK * 		AMDX15 		DOUBLE 	AMDX15 		  	F	NULL	NONE	NULL	""
OK * 		AMDX16 		DOUBLE 	AMDX16 		  	F	NULL	NONE	NULL	""
OK * 		AMDX17 		DOUBLE 	AMDX17 		  	F	NULL	NONE	NULL	""
OK * 		AMDX18 		DOUBLE 	AMDX18 		  	F	NULL	NONE	NULL	""
OK * 		AMDX19 		DOUBLE 	AMDX19 		  	F	NULL	NONE	NULL	""
OK * 		AMDX20 		DOUBLE 	AMDX20 		  	F	NULL	NONE	NULL	""
OK * 		AMDY1 		DOUBLE 	AMDY1 		  	F	NULL	NONE	NULL	"Plate solution y coefficients"
OK * 		AMDY2 		DOUBLE 	AMDY2 		  	F	NULL	NONE	NULL	""
OK * 		AMDY3 		DOUBLE 	AMDY3 		  	F	NULL	NONE	NULL	""
OK * 		AMDY4 		DOUBLE 	AMDY4 		  	F	NULL	NONE	NULL	""
OK * 		AMDY5 		DOUBLE 	AMDY5 		  	F	NULL	NONE	NULL	""
OK * 		AMDY6 		DOUBLE 	AMDY6 		  	F	NULL	NONE	NULL	""
OK * 		AMDY7 		DOUBLE 	AMDY7 		  	F	NULL	NONE	NULL	""
OK * 		AMDY8 		DOUBLE 	AMDY8 		  	F	NULL	NONE	NULL	""
OK * 		AMDY9 		DOUBLE 	AMDY9 		  	F	NULL	NONE	NULL	""
OK * 		AMDY10 		DOUBLE 	AMDY10 		  	F	NULL	NONE	NULL	""
OK * 		AMDY11 		DOUBLE 	AMDY11 		  	F	NULL	NONE	NULL	""
OK * 		AMDY12 		DOUBLE 	AMDY12 		  	F	NULL	NONE	NULL	""
OK * 		AMDY13 		DOUBLE 	AMDY13 		  	F	NULL	NONE	NULL	""
OK * 		AMDY14 		DOUBLE 	AMDY14 		  	F	NULL	NONE	NULL	""
OK * 		AMDY15 		DOUBLE 	AMDY15 		  	F	NULL	NONE	NULL	""
OK * 		AMDY16 		DOUBLE 	AMDY16 		  	F	NULL	NONE	NULL	""
OK * 		AMDY17 		DOUBLE 	AMDY17 		  	F	NULL	NONE	NULL	""
OK * 		AMDY18 		DOUBLE 	AMDY18 		  	F	NULL	NONE	NULL	""
OK * 		AMDY19 		DOUBLE 	AMDY19 		  	F	NULL	NONE	NULL	""
OK * 		AMDY20 		DOUBLE 	AMDY20 		  	F	NULL	NONE	NULL	""
OK * 		OBJCTRA 	STRING 	OBJCTRA 	  	F	NULL	NONE	NULL 	"Object Right Ascension (J2000)"
OK * 		OBJCTDEC 	STRING 	OBJCTDEC 	 	F	NULL	NONE	NULL	"Object Declination (J2000)"
OK * 		OBJCTX 		FLOAT 	OBJCTX 		  	F	NULL	NONE	NULL	"Object X on plate (pixels)"
OK *		OBJCTY 		FLOAT 	OBJCTY 		  	F	NULL	NONE	NULL	"Object Y on plate (pixels)"
OK * 		NBFCPYRT	INT	NBFCPYRT		F	NULL	NONE	NULL	"Number of brief copyright statement lines"
OK *		BFCPYRT1	STRING	BFCPYRT1		F	NULL	NONE    NULL	""
OK *		BFCPYRT2	STRING	BFCPYRT2		F	NULL	NONE    NULL	""
OK *		NFLCPYRT	INT	NFLCPYRT		F	NULL	NONE	NULL	"Number of full copyright statement lines"
OK *		FLCPYRT1	STRING	FLCPYRT1		F	NULL	NONE	NULL	""
OK *		FLCPYRT2	STRING	FLCPYRT2		F	NULL	NONE	NULL	""
OK *		FLCPYRT3	STRING	FLCPYRT3		F	NULL	NONE	NULL	""
OK *		FLCPYRT4	STRING	FLCPYRT4		F	NULL	NONE	NULL	""
OK *		FLCPYRT5	STRING	FLCPYRT5		F	NULL	NONE	NULL	""
OK *		FLCPYRT6	STRING	FLCPYRT6		F	NULL	NONE	NULL	""
OK *		FLCPYRT7	STRING	FLCPYRT7		F	NULL	NONE	NULL	""
OK *		FLCPYRT8	STRING	FLCPYRT8		F	NULL	NONE	NULL	""
OK *		FLCPYRT9	STRING	FLCPYRT9		F	NULL	NONE	NULL	""
OK *		FLCPYRTA	STRING	FLCPYRTA		F	NULL	NONE	NULL	""
OK *		FLCPYRTB	STRING	FLCPYRTB		F	NULL	NONE	NULL	""
OK *		FLCPYRTC	STRING	FLCPYRTC		F	NULL	NONE	NULL	""
OK *		FLCPYRTD	STRING	FLCPYRTD		F	NULL	NONE	NULL	""
OK *		FLCPYRTE	STRING	FLCPYRTE		F	NULL	NONE	NULL	""
OK *		FLCPYRTF	STRING	FLCPYRTF		F	NULL	NONE	NULL	""
OK *		HISTORY  	STRING	HISTORY  		F	NULL	NONE	NULL	""
OK *		FITSDATE	STRING	FITSDATE		F	NULL	NONE	NULL	"Date FITS file was generated"
OK *		COMMENT		STRING	COMMENT			F	NULL	NONE	NULL	""
OK *		XTENSION	STRING	XTENSION		F	EXT	NONE	NULL	"Image extension"
OK *		PCOUNT  	INT	PCOUNT  		F	NULL	NONE	NULL	"random parameters"
OK *		GCOUNT  	INT	GCOUNT  		F	NULL	NONE	NULL	"number of data groups"
OK *		INHERIT  	BOOLEAN	INHERIT  		F	EXT	NONE	NULL	"inherit the primary header"
OK *		IRAF-TLM	STRING	IRAF-TLM		F	NULL	NONE	NULL	"Time of last modification"
OK *		ORIGIN1      	INT	origin1    		F	1	NONE	NULL	"x coord for the  bottom left corner of a data chunk"
OK *		ORIGIN2      	INT	ORIGIN2    		F	2	NONE	NULL	"y coord for the bottom left corner of a data chunk"
OK *		AXISSZ1      	INT	AXISSZ1    		F	3	NONE	NULL	"length of x axis for entire image"
OK *		AXISSZ2      	INT	AXISSZ2    		F	3	NONE	NULL	"lenght of y axis for entire image"
OK *		multiArray	ANY	ARRAY			F	NULL	EXTEN	NULL	"Multi-dimension array for testing."
OK *		EXTLEVEL	INT	EXTLEVEL		F	NULL	NONE	NULL	"level of the extension file in a hierarchy"
OK FOC 		BSCALE   	DOUBLE 	BSCALE   	 	F	1.0	NONE	NULL	"REAL = TAPE*BSCALE + BZERO"
OK FOC 		BZERO    	DOUBLE 	BZERO    	 	F	0.0	NONE	NULL	""
OK FOC 		OBJECT   	STRING 	OBJECT   	 	F	NULL	NONE	NULL	"Object ID"
OK FOC 		ORIGIN   	STRING	ORIGIN   	 	F	NULL	NONE	NULL	""
OK FOC 		DATE     	STRING  DATE     	 	F	NULL	NONE	NULL	""
OK FOC 		IRAFNAME 	STRING	IRAFNAME 	 	F	NULL	NONE	NULL	"NAME OF IRAF IMAGE FILE"
OK FOC 		IRAF-MAX 	FLOAT  	IRAF-MAX 	 	F	NULL	NONE	NULL	"DATATA MAX"
OK FOC 		IRAF-MIN 	FLOAT  	IRAF-MIN 	 	F	NULL	NONE	NULL	"DATA MIN"
OK FOC 		IRAF-BPX 	INT    	IRAF-BPX 	 	F	16	NONE	NULL	"DATA BITS/PIXEL"
OK FOC 		IRAFTYPE 	STRING  IRAFTYPE 	 	F	SHORT	NONE	NULL	"PIXEL TYPE"
OK FOC 		CRVAL1   	DOUBLE 	CRVAL1   	 	F	NULL	NONE	NULL	"RA at Ref pix in decimal degrees"
OK FOC 		CRVAL2   	DOUBLE 	CRVAL2   	 	F	NULL	NONE	NULL 	"DEC at Ref pix in decimal degrees"
OK FOC 		CRPIX1   	FLOAT  	CRPIX1   	 	F	NULL	NONE	NULL	"Refpix of first axis"
OK FOC 		CRPIX2   	FLOAT  	CRPIX2   	 	F	NULL	NONE	NULL	"Refpix of second axis"
OK FOC	 	CD1_1    	FLOAT  	CD1_1    	 	F	NULL	NONE	NULL	"CD matrix"
OK FOC 		CD1_2    	FLOAT  	CD1_2    	 	F	NULL	NONE	NULL	"CD matrix"
OK FOC 		CD2_1    	FLOAT  	CD2_1    	 	F	NULL	NONE	NULL	"CD matrix"
OK FOC 		CD2_2    	FLOAT  	CD2_2    	 	F	NULL	NONE	NULL	"CD matrix"
OK FOC 		DATAMIN  	FLOAT  	DATAMIN  	 	F	NULL	NONE	NULL	"DATA MIN"
OK FOC 		DATAMAX  	FLOAT  	DATAMAX  	 	F	NULL	NONE	NULL	"DATA MAX"
OK FOC 		MIR_REVR 	STRING  MIR_REVR 	 	F	NULL	NONE	NULL	""
OK FOC 		ORIENTAT 	FLOAT  	ORIENTAT 	 	F	NULL	NONE	NULL	""
OK FOC 		FILLCNT  	INT    	FILLCNT  	 	F	NULL	NONE	NULL	""
OK FOC 		FPKTTIME 	DOUBLE 	FPKTTIME 	 	F	NULL	NONE	NULL	""
OK FOC 		LPKTTIME 	DOUBLE 	LPKTTIME 	 	F	NULL	NONE	NULL	""
OK FOC 		CTYPE1   	STRING  CTYPE1   	 	F	NULL	NONE	NULL	"R.A. in tangent plane projection"
OK FOC 		CTYPE2   	STRING  CTYPE2   	 	F	NULL	NONE	NULL	"DEC. in tangent plane projection"
OK FOC 		DADSFILE 	STRING  DADSFILE 	 	F	NULL	NONE	NULL	""
OK FOC 		DADSCLAS 	STRING  DADSCLAS 	 	F	NULL	NONE	NULL	""
OK FOC 		DADSDATE 	STRING  DADSDATE 	 	F	NULL	NONE	NULL	""
OK FOC 		ROOTNAME 	STRING  ROOTNAME 	 	F	NULL	NONE	NULL	"rootname of the observation set"
OK FOC 		FILETYPE 	STRING  FILETYPE 	 	F	NULL	NONE	NULL	"shp, udl, sci, sdq"
OK FOC 		OPTCRLY  	STRING  OPTCRLY  		F	NULL	NONE	NULL	"optical relay: F48, F96"
OK FOC 		CAMMODE  	STRING  CAMMODE  		F	NULL	NONE	NULL	"coronographi"
OK FOC 		WCSDIM   	INT    	WCSDIM   	 	F	NULL	NONE	NULL	""
OK FOC 		LTM1_1   	FLOAT  	LTM1_1   	 	F	NULL	NONE	NULL	""
OK FOC 		LTM2_2   	FLOAT  	LTM2_2   	 	F	NULL	NONE	NULL	""
OK FOC 		WAT0_001 	STRING  WAT0_001 	 	F	NULL	NONE	NULL	""
OK FOC 		WAT1_001 	STRING  WAT1_001 	 	F	NULL	NONE	NULL	""
OK FOC 		WAT2_001 	STRING  WAT2_001 	 	F	NULL	NONE	NULL	""
OK PSPC		BLOCKED  	BOOLEAN	BLOCKED	 		F	NULL	NONE	NULL	"FITS file may be blocked"
OK PSPC		BUNIT    	STRING	BUNIT   		F	NULL	NONE	NULL	"Units of data values"
OK PSPC		CDELT1 	 	DOUBLE	CDELT1	 		F	NULL	NONE	NULL	"Coordinate increment per pixel"
OK PSPC		CDELT2 	 	DOUBLE	CDELT2	 		F	NULL	NONE	NULL	"Coordinate increment per pixel"
OK PSPC		CROTA1 	 	DOUBLE	CROTA1	 		F	NULL	NONE	NULL	"Coordinate increment per pixel"
OK PSPC		CROTA2 	 	DOUBLE	CROTA2	 		F	NULL	NONE	NULL	"Coordinate increment per pixel"
OK PSPC		RADECSYS	STRING	RADECSYS		F	NULL	NONE	NULL	"Fk5 coordinate system"
OK PSPC		XS-OBSID	STRING	XS-OBSID		F	NULL	NONE	NULL	""
OK PSPC	 	ONTIME  	DOUBLE	ONTIME   		F	NULL	NONE	NULL	""
OK PSPC		XS-LIVTI	DOUBLE	XS-LIVTI		F	NULL	NONE	NULL	""
OK PSPC		XS-MINCH	SHORT	XS-MINCH		F	NULL	NONE	NULL	""
OK PSPC		XC-MAXCH	SHORT	XS-MAXCH		F	NULL	NONE	NULL	""
OK PSPC 	ORIGIN   	STRING  ORIGIN   	 	F	NULL	NONE	origin	""
OK WFPC2 	BSCALE   	DOUBLE 	BSCALE   	 	T	1.0	NONE	NULL	"REAL = TAPE*BSCALE + BZERO"
OK WFPC2 	BZERO    	DOUBLE 	BZERO    	 	F	0.0	NONE	NULL	""
OK WFPC2 	OBJECT   	STRING  OBJECT   	 	F	NULL	NONE	NULL	"Object ID"
OK WFPC2 	ORIGIN   	STRING  ORIGIN   	 	F	NULL	NONE	NULL	""
OK WFPC2 	DATE     	STRING  DATE     	 	F	PRIMARY	NONE	NULL 	""
OK WFPC2 	IRAFNAME 	STRING  IRAFNAME 	 	F	NULL	NONE	NULL	"NAME OF IRAF IMAGE FILE"
OK WFPC2 	IRAF-MAX 	FLOAT  	IRAF-MAX 	 	F	0.0	NONE	NULL	"DATA MAX"
OK WFPC2 	IRAF-MIN 	FLOAT  	IRAF-MIN 	 	F	0.0	NONE	NULL	"DATA MIN"
OK WFPC2 	IRAF-BPX 	INT    	IRAF-BPX 	 	F	16	NONE	NULL	"DATA BITS/PIXEL"
OK WFPC2 	IRAFTYPE 	STRING  IRAFTYPE 	 	F	LONG	NONE	NULL	"PIXEL TYPE"
OK WFPC2 	CRVAL1   	DOUBLE 	CRVAL1   	 	F	NULL	NONE	NULL 	"RA at Ref pix in decimal degrees"
OK WFPC2 	CRVAL2   	DOUBLE 	CRVAL2   	 	F	NULL	NONE	NULL 	"DEC at Ref pix in decimal degrees"
OK WFPC2 	CRPIX1   	FLOAT  	CRPIX1   	 	F	NULL	NONE	NULL	"Refpix of first axis"
OK WFPC2 	CRPIX2   	FLOAT  	CRPIX2   	 	F	NULL	NONE	NULL	"Refpix of second axis"
OK WFPC2 	CD1_1    	FLOAT  	CD1_1    	 	F	NULL	NONE	NULL	"CD matrix"
OK WFPC2 	CD1_2    	FLOAT  	CD1_2    	 	F	NULL	NONE	NULL	"CD matrix"
OK WFPC2 	CD2_1    	FLOAT  	CD2_1    	 	F	NULL	NONE	NULL	"CD matrix"
OK WFPC2 	CD2_2    	FLOAT  	CD2_2    	 	F	NULL	NONE	NULL	"CD matrix"
OK WFPC2 	DATAMIN  	FLOAT  	DATAMIN  	 	F	NULL	NONE	NULL	"DATA MIN"
OK WFPC2 	DATAMAX  	FLOAT  	DATAMAX  	 	F	NULL	NONE	NULL	"DATAMAX"
OK WFPC2 	MIR_REVR 	STRING  MIR_REVR 	 	F	NULL	NONE	NULL	""
OK WFPC2 	ORIENTAT 	FLOAT  	ORIENTAT 	 	F	NULL	NONE	NULL	""
OK WFPC2 	FILLCNT  	INT    	FILLCNT  	 	F	NULL	NONE	NULL	""
OK WFPC2 	ERRCNT   	INT    	ERRCNT   	 	F	NULL	NONE	NULL	""
OK WFPC2 	FPKTTIME 	DOUBLE 	FPKTTIME 	 	F	NULL	NONE	NULL	""
OK WFPC2 	LPKTTIME 	DOUBLE 	LPKTTIME 	 	F	NULL	NONE	NULL	""
OK WFPC2 	CTYPE1   	STRING  CTYPE1   	 	F	NULL	NONE	NULL	"R.A. in tangent plane projection"
OK WFPC2 	CTYPE2   	STRING  CTYPE2   	 	F	NULL	NONE	NULL	"DEC. in tangent plane projection"
OK WFPC2 	ROOTNAME 	STRING  ROOTNAME 	 	F	NULL	NONE	NULL	"rootname of the observation set"
OK WFPC2 	FILETYPE 	STRING  FILETYPE 	 	F	NULL	NONE	NULL	"shp, udl, sci, sdq"
OK WFPC2	FITSDATE	STRING	FITSDATE 	 	F	NULL	NONE	NULL	"Date FITS file was created"
OK WFPC2	FILENAME	STRING	FILENAME 		F	NULL	NONE	NULL	"Original filename                  "
OK WFPC2	ODATTYPE 	STRING	ODATTYPE 		F	NULL	NONE	NULL	"Original datatype:single precision real"
OK WFPC2	DETECTOR 	INT	DETECTOR 		F	NULL	NONE	NULL	""
OK WFPC2	DEZERO		FLOAT	DEZERO			F	NULL	NONE	NULL	""
OK WFPC2	BIASEVEN 	FLOAT	BIASEVEN 		F	NULL	NONE	NULL	""
OK WFPC2	BIASODD		FLOAT	BIASODD			F	NULL	NONE	NULL	""
OK WFPC2	GOODMIN		FLOAT	GOODMIN			F	NULL	NONE	NULL	""
OK WFPC2	GOODMAX		FLOAT	GOODMAX			F	NULL	NONE	NULL	""
OK WFPC2	DATAMEAN 	FLOAT	DATAMEAN 		F	NULL	NONE	NULL	""
OK WFPC2	GPIXELS		INT	GPIXELS			F	NULL	NONE	NULL	""
OK WFPC2	SOFTERRS 	INT	SOFTERRS 		F	NULL	NONE	NULL	""
OK WFPC2	CALIBDEF	INT	CALIBDEF		F	NULL	NONE	NULL	""
OK WFPC2	STATICD		INT	STATICD			F	NULL	NONE	NULL	""
OK WFPC2	ATODSAT		INT	ATODSAT			F	NULL	NONE	NULL	""
OK WFPC2	DATALOST 	INT	DATALOST 		F	NULL	NONE	NULL	""
OK WFPC2	BADPIXEL 	INT	BADPIXEL 		F	NULL	NONE	NULL	""
OK WFPC2	OVERLAP		INT	OVERLAP			F	NULL	NONE	NULL	""
OK WFPC2	PHOTMODE 	STRING	PHOTMODE 		T 	NULL	NONE	NULL	""
OK WFPC2	PHOTFLAM 	FLOAT	PHOTFLAM 		F	NULL	NONE	NULL	""
OK WFPC2	PHOTZPT		FLOAT	PHOTZPT			F	NULL	NONE	NULL	""
OK WFPC2	PHOTPLAM 	FLOAT	PHOTPLAM 		F	NULL	NONE	NULL	""
OK WFPC2	PHOTBW		FLOAT	PHOTBW			F	NULL	NONE	NULL	""
OK WFPC2	MEDIAN		FLOAT	MEDIAN			F	NULL	NONE	NULL	""
OK WFPC2	MEDSHADO 	FLOAT	MEDSHADO 		F	NULL	NONE	NULL	""
OK WFPC2	HISTWIDE 	FLOAT	HISTWIDE 		F	NULL	NONE	NULL	""
OK WFPC2	SKEWNESS 	FLOAT	SKEWNESS 		F	NULL	NONE	NULL	""
OK WFPC2	MEANC10		FLOAT	MEANC10			F	NULL	NONE	NULL	""
OK WFPC2	MEANC25		FLOAT	MEANC25			F	NULL	NONE	NULL	""
OK WFPC2	MEANC50		FLOAT	MEANC50			F	NULL	NONE	NULL	""
OK WFPC2	MEANC100 	FLOAT	MEANC100 		F	NULL	NONE	NULL	""
OK WFPC2	MEANC200 	FLOAT	MEANC200 		F	NULL	NONE	NULL	""
OK WFPC2	MEANC300 	FLOAT	MEANC300 		F	NULL	NONE	NULL	"	"
OK WFPC2	MODE		STRING	MODE			F	NULL	NONE	NULL	"instr. mode: FULL, AREA"
OK WFPC2	SERIALS		STRING	SERIALS			F	NULL	NONE	NULL	"serial clocks: ON, OFF"
OK WFPC2	IMAGETYP 	STRING	IMAGETYP 		F	NULL	NONE	NULL	"DARK/BIAS/IFLAT/UFLAT/VFLAT/KSPOT/EXT/ECAL"
OK WFPC2	CDBSFILE 	STRING	CDBSFILE 		F	NULL	NONE	NULL	"GENERIC/BIAS/DARK/FLAT/MASK/NO"
OK WFPC2	PKTFMT		INT	PKTFMT			F	NULL	NONE	NULL	"packet format code"
OK WFPC2	FILTNAM1 	STRING	FILTNAM1 		F	NULL	NONE	NULL	"first filter name"
OK WFPC2	FILTNAM2 	STRING	FILTNAM2 		F	NULL	NONE	NULL	"second filter name"
OK WFPC2	FILTER1		INT	FILTER1			F	NULL	NONE	NULL	"first filter number (0-48)"
OK WFPC2	FILTER2		INT	 FILTER2		F	NULL	NONE	NULL	"second filter number (0-48)"
OK WFPC2	FILTROT		FLOAT	 FILTROT		F	NULL	NONE	NULL	"partial filter rotation angle (degrees)"
OK WFPC2	LRFWAVE		FLOAT	 LRFWAVE		F	NULL	NONE	NULL	"linear ramp filter wavelength"
OK WFPC2	UCH1CJTM 	DOUBLE	 UCH1CJTM 		F	NULL	NONE	NULL	"TEC cold junction #1 temperature (deg C)"
OK WFPC2	UCH2CJTM 	DOUBLE	 UCH2CJTM 		F	NULL	NONE	NULL	"TEC cold junction #2 temperature (deg C)"
OK WFPC2	UCH3CJTM 	DOUBLE	 UCH3CJTM 		F	NULL	NONE	NULL	"TEC cold junction #3 temperature (deg C)"
OK WFPC2	UCH4CJTM 	DOUBLE	 UCH4CJTM 		F	NULL	NONE	NULL	"TEC cold junction #4 temperature (deg C)"
OK WFPC2	UBAY3TMP 	DOUBLE	 UBAY3TMP 		F	NULL	NONE	NULL	"bay 3 A1 temperature (deg C)"
OK WFPC2	KSPOTS		STRING	 KSPOTS			F	NULL	NONE	NULL	"Status of Kelsall spot lamps: ON, OFF"
OK WFPC2	SHUTTER		STRING	 SHUTTER		F	NULL	NONE	NULL	"Shutter in place at the beg. of exposure"
OK WFPC2	ATODGAIN 	DOUBLE	 ATODGAIN 		F	NULL	NONE	NULL	"Analog to Digital Gain (Electrons/DN)"
OK WFPC2	MASKCORR 	STRING	 MASKCORR 		F	NULL	NONE	NULL	"Do mask corr: PERFORM, OMIT, COMPLETE"
OK WFPC2	ATODCORR 	STRING	 ATODCORR 		F	NULL	NONE	NULL	"Do A-to-D corr: PERFORM, OMIT, COMPLETE"
OK WFPC2	BLEVCORR 	STRING	 BLEVCORR 		F	NULL	NONE	NULL	"Do bias corr: PERFORM, OMIT, COMPLETE"
OK WFPC2	BIASCORR 	STRING	 BIASCORR 		F	NULL	NONE	NULL	"Do bias corr: PERFORM, OMIT, COMPLETE"
OK WFPC2	DARKCORR 	STRING	 DARKCORR 		F	NULL	NONE	NULL	"Do dark corr: PERFORM, OMIT, COMPLETE"
OK WFPC2	FLATCORR 	STRING	 FLATCORR 		F	NULL	NONE	NULL	"Do flat field corr: PERF, OMIT, COMP"
OK WFPC2	SHADCORR 	STRING	 SHADCORR 		F	NULL	NONE	NULL	"Do shaded shutter corr: PERF, OMIT, COMP"
OK WFPC2	DOSATMAP 	STRING	 DOSATMAP 		F	NULL	NONE	NULL	"Output image datatype: REAL, LONG, SHORT"
OK WFPC2	DOPHOTOM 	STRING	 DOPHOTOM 		F	NULL	NONE	NULL	"Fill photometry keywords: PERF,OMIT,COMP"
OK WFPC2	DOHISTOS 	STRING	 DOHISTOS 		F	NULL	NONE	NULL	"Make histograms: PERFORM, OMIT, COMPLETE"
OK WFPC2	OUTDTYPE 	STRING	 OUTDTYPE 		F	NULL	NONE	NULL	"Output saturated pixel map:PERF,OMIT,COMP"
OK WFPC2	MASKFILE 	STRING	 MASKFILE 		F	NULL	NONE	NULL	"name of input DQF of known bad pixels"
OK WFPC2	ATODFILE 	STRING	 ATODFILE 		F	NULL	NONE	NULL	"name of the A-to-D conversion file"
OK WFPC2	BLEVFILE 	STRING	 BLEVFILE 		F	NULL	NONE	NULL	"Engineering file with extended reg. data"
OK WFPC2	BLEVDFIL 	STRING	 BLEVDFIL 		F	NULL	NONE	NULL	"Engineering file with DQF"
OK WFPC2	BIASFILE 	STRING	 BIASFILE 		F	NULL	NONE	NULL	"name of the bias frame reference file"
OK WFPC2	BIASDFIL 	STRING	 BIASDFIL 		F	NULL	NONE	NULL	"name of the bias frame reference DQF"
OK WFPC2	DARKFILE 	STRING	 DARKFILE 		F	NULL	NONE	NULL	"name of the dark reference file"
OK WFPC2	DARKDFIL 	STRING	 DARKDFIL 		F	NULL	NONE	NULL	"name of the dark reference DQF"
OK WFPC2	FLATFILE 	STRING	 FLATFILE 		F	NULL	NONE	NULL	"name of the flat field reference file"
OK WFPC2	FLATDFIL 	STRING	 FLATDFIL 		F	NULL	NONE	NULL	"name of the flat field reference DQF"
OK WFPC2	SHADFILE 	STRING	 SHADFILE 		F	NULL	NONE	NULL	"name of ref file for shutter shading"
OK WFPC2	PHOTTAB		STRING	 PHOTTAB		F	NULL	NONE	NULL	"name of the photometry calib. table"
OK WFPC2	GRAPHTAB 	STRING	 GRAPHTAB 		F	NULL	NONE	NULL	"the HST graph table"
OK WFPC2	COMPTAB		STRING	 COMPTAB		F	NULL	NONE	NULL	"the HST components table"
OK WFPC2	SATURATE 	INT	 SATURATE 		F	NULL	NONE	NULL	"Data value at which saturation occurs"
OK WFPC2	USCALE		FLOAT	 USCALE			F	NULL	NONE	NULL	"Scale factor for output image"
OK WFPC2	UZERO		FLOAT	 UZERO			F	NULL	NONE	NULL	"Zero point for output image"
OK WFPC2	READTIME 	INT	 READTIME 		F	NULL	NONE	NULL	"Length of time for CCD readout in ticks"
OK WFPC2	PA_V3		FLOAT	 PA_V3			F	NULL	NONE	NULL	"position angle of v3 axis of HST"
OK WFPC2	RA_SUN		DOUBLE	 RA_SUN			F	NULL	NONE	NULL	"right ascension of the sun (deg)"
OK WFPC2	DEC_SUN		DOUBLE	 DEC_SUN		F	NULL	NONE	NULL	"declination of the sun (deg)"
OK WFPC2	EQNX_SUN 	FLOAT	 EQNX_SUN 		F	NULL	NONE	NULL	"equinox of the sun"
OK WFPC2	MTFLAG		STRING	 MTFLAG			F	NULL	NONE	NULL	"moving target flag"
OK WFPC2	EQRADTRG 	FLOAT	 EQRADTRG 		F	NULL	NONE	NULL	"equatorial radius of target"
OK WFPC2	FLATNTRG 	FLOAT	 FLATNTRG 		F	NULL	NONE	NULL	"flattening of target"
OK WFPC2	NPDECTRG 	FLOAT	 NPDECTRG 		F	NULL	NONE	NULL	"north pole declination of target"
OK WFPC2	NPRATRG		FLOAT	 NPRATRG		F	NULL	NONE	NULL	"north pole right ascension of target"
OK WFPC2	ROTRTTRG 	FLOAT	 ROTRTTRG 		F	NULL	NONE	NULL	"rotation rate of target"
OK WFPC2	LONGPMER 	FLOAT	 LONGPMER 		F	NULL	NONE	NULL	"longitude of prime meridian"
OK WFPC2	EPLONGPM 	FLOAT	 EPLONGPM 		F	NULL	NONE	NULL	"epoch of longitude of prime meridian"
OK WFPC2	SURFLATD 	FLOAT	 SURFLATD 		F	NULL	NONE	NULL	"surface feature latitude"
OK WFPC2	SURFLONG 	FLOAT	 SURFLONG 		F	NULL	NONE	NULL	"surface feature longitude"
OK WFPC2	SURFALTD 	FLOAT	 SURFALTD 		F	NULL	NONE	NULL	"surface feature altitude"
OK WFPC2	PODPSFF		INT	 PODPSFF		F	NULL	NONE	NULL	"0=(no podps fill),1=(podps fill present)"
OK WFPC2	STDCFFF		INT	 STDCFFF		F	NULL	NONE	NULL	"0=(no st dcf fill), 1=(st dcf fill pres)"
OK WFPC2	STDCFFP		STRING	 STDCFFP		F	NULL	NONE	NULL	"st dec fill pattern (hex)"
OK WFPC2	RSDPFILL 	INT	 RSDPFILL 		F	NULL	NONE	NULL	"bad data fill value for calib. images"
OK WFPC2	UEXPODUR 	INT	 UEXPODUR 		F	NULL	NONE	NULL	"Commanded duration of exposure (sec)"
OK WFPC2	NSHUTA17 	INT	 NSHUTA17 		F	NULL	NONE	NULL	"Number of AP17 shutter B closes"
OK WFPC2	DARKTIME 	DOUBLE	 DARKTIME 		F	NULL	NONE	NULL	"Dark time (seconds)"
OK WFPC2	UEXPOTIM 	INT	 UEXPOTIM 		F	NULL	NONE	NULL	"Major frame pulse time before exp start"
OK WFPC2	PSTRTIME 	STRING	 PSTRTIME 		F	NULL	NONE	NULL	"Predicted obs.start (yyyy:ddd:hh:mm:ss)"
OK WFPC2	PSTPTIME 	STRING	 PSTPTIME 		F	NULL	NONE	NULL	"Predicted obs.stop  (yyyy:ddd:hh:mm:ss)"
OK WFPC2	EQUINOX		STRING	 EQUINOX		F	NULL	NONE	NULL	"equinox of the celestial coord sys"
OK WFPC2	SUNANGLE 	DOUBLE	 SUNANGLE 		F	NULL	NONE	NULL	"angle between sun and V1 axis (deg)"
OK WFPC2	MOONANGL 	DOUBLE	 MOONANGL 		F	NULL	NONE	NULL	"angle between moon and V1 axis (deg)"
OK WFPC2	SUN_ALT		DOUBLE	 SUN_ALT		F	NULL	NONE	NULL	"altitude of sun above Earth's limb (deg)"
OK WFPC2	FGSLOCK		STRING	 FGSLOCK		F	NULL	NONE	NULL	"commanded FGS lock(FINE,COARSE,GYRO,UNK)"
OK WFPC2	DATE-OBS 	STRING	 DATE-OBS 		F	NULL	NONE	NULL	"UT date of start of obs (dd/mm/yy)"
OK WFPC2	TIME-OBS 	STRING	 TIME-OBS 		F	NULL	NONE	NULL	"UT time of start of obs (hh:mm:ss)"
OK WFPC2	EXPSTART 	DOUBLE	 EXPSTART 		F	NULL	NONE	NULL	"exposure start (Modified Julian Date)"
OK WFPC2	EXPEND		DOUBLE	 EXPEND			F	NULL	NONE	NULL	"exposure end (Modified Julian Data)"
OK WFPC2	EXPTIME		DOUBLE	 EXPTIME		F	NULL	NONE	NULL	"exposure duration (seconds)--calculated"
OK WFPC2	EXPFLAG		STRING	 EXPFLAG		F	NULL	NONE	NULL	"Exposure interruption indicator"
OK WFPC2	TARGNAME 	STRING	 TARGNAME 		F	NULL	NONE	NULL	"proposer's target name"
OK WFPC2	RA_TARG		DOUBLE	 RA_TARG		F	NULL	NONE	NULL	"right ascension of the target (deg) (J2000)"
OK WFPC2	DEC_TARG 	DOUBLE	 DEC_TARG 		F	NULL	NONE	NULL	"declination of the target (deg) (J2000) "
OK WFPC2	PROPOSID 	INT	 PROPOSID 		F	NULL	NONE	NULL	"PEP proposal identifier"
OK WFPC2	PEP_EXPO 	STRING	 PEP_EXPO 		F	NULL	NONE	NULL	"PEP exposure identifier"
OK WFPC2	LINENUM		STRING	 LINENUM		F	NULL	NONE	NULL	"PEP proposal line number"
OK WFPC2	SEQLINE		STRING	 SEQLINE		F	NULL	NONE	NULL	"PEP line number of defined sequence"
OK WFPC2	SEQNAME		STRING	 SEQNAME		F	NULL	NONE	NULL	"PEP define/use sequence name"
OK NICMOS 	NBFCPYRT	INT	NBFCPYRT		F	NULL	NONE	NULL	"Number of brief copyright statement lines"
OK NICMOS	BFCPYRT1	STRING	BFCPYRT1		F	NULL	NONE	NULL	""
OK NICMOS	BFCPYRT2	STRING	BFCPYRT2		F	NULL	NONE	NULL	""
OK NICMOS	NFLCPYRT	INT	NFLCPYRT		F	NULL	NONE	NULL	"Number of full copyright statement lines"
OK NICMOS	FLCPYRT1	STRING	FLCPYRT1		F	NULL	NONE	NULL	""
OK NICMOS	FLCPYRT2	STRING	FLCPYRT2		F	NULL	NONE	NULL	""	
OK NICMOS	FLCPYRT3	STRING	FLCPYRT3		F	NULL	NONE	NULL	""
OK NICMOS	FLCPYRT4	STRING	FLCPYRT4		F	NULL	NONE	NULL	""	
OK NICMOS	FLCPYRT5	STRING	FLCPYRT5		F	NULL	NONE	NULL	""	
OK NICMOS	FLCPYRT6	STRING	FLCPYRT6		F	NULL	NONE	NULL	""	
OK NICMOS	FLCPYRT7	STRING	FLCPYRT7		F	NULL	NONE	NULL	""	
OK NICMOS	FLCPYRT8	STRING	FLCPYRT8		F	NULL	NONE	NULL	""	
OK NICMOS	FLCPYRT9	STRING	FLCPYRT9		F	NULL	NONE	NULL	""	
OK NICMOS	FLCPYRTA	STRING	FLCPYRTA		F	NULL	NONE	NULL	""	
OK NICMOS	FLCPYRTB	STRING	FLCPYRTB		F	NULL	NONE	NULL	""	
OK NICMOS	FLCPYRTC	STRING	FLCPYRTC		F	NULL	NONE	NULL	""	
OK NICMOS	FLCPYRTD	STRING	FLCPYRTD		F	NULL	NONE	NULL	""	
OK NICMOS	FLCPYRTE	STRING	FLCPYRTE		F	NULL	NONE	NULL	""	
OK NICMOS	FLCPYRTF	STRING	FLCPYRTF		F	NULL	NONE	NULL	""	
OK NICMOS	HISTORY  	STRING	HISTORY  		F	NULL	NONE	NULL	""	
OK NICMOS 	FILENAME	STRING	FILENAME		F	NULL	NONE	NULL	"name of file"
OK NICMOS 	FILETYPE	STRING	FILETYPE		F	NULL	NONE	NULL	"type of data found in data file"
OK NICMOS 	ROOTNAME	STRING	ROOTNAME		F	NULL	NONE	NULL	"rootname of the observation set"
OK NICMOS	IMAGETYP 	STRING	IMAGETYP 		F	NULL	NONE	NULL	"type of exposure identifier"
OK NICMOS	PARALLEL 	STRING	PARALLEL 		F	NICMOS	NONE	NULL	"indicates if observation taken in parallel"
OK NICMOS	PRIMESI 	STRING	PRIMESI 		F	SI	NONE	NULL	"instrument designated as prime"
OK NICMOS	NEXTEND		INT	NEXTEND  		F	0	NONE	NULL	"Number of standard extensions "
OK NICMOS	TARGNAME	STRING	TARGNAME		F	NONE 	NONE	NULL	"proposer's target name"
OK NICMOS	RA_TARG  	DOUBLE	RA_TARG  		F	NULL	NONE	NULL	"right ascension of the target (deg) (J2000)"
OK NICMOS	DEC_TARG 	DOUBLE	DEC_TARG 		F	NULL	NONE	NULL	"declination of the target (deg) (J2000)"
OK NICMOS	PROPOSID	INT	PROPOSID		F	NULL	NONE	NULL	"PEP proposal identifier"
OK NICMOS	PEP_EXPO	STRING	PEP_EXPO		F	NULL	NONE	NULL	"PEP exposure identifier including sequence"
OK NICMOS	LINENUM 	STRING	LINENUM 		F	NULL	NONE	NULL	"PEP proposal line number"
OK NICMOS	PR_INV_L	STRING	PR_INV_L		F	NULL	NONE	NULL	"last name of principal investigator"
OK NICMOS	PR_INV_F	STRING	PR_INV_F		F	NULL	NONE	NULL	"first name of principal investigator"
OK NICMOS	PR_INV_M	STRING	PR_INV_M		F	NULL	NONE	NULL	"middle initial of principal investigator"
OK NICMOS	ORIENTAT	DOUBLE	ORIENTAT		F	NULL	NONE	NULL	"position angle of image y axis (deg. e of n)"
OK NICMOS	SUNANGLE	DOUBLE	SUNANGLE		F	NULL	NONE	NULL	"angle between sun and V1 axis (deg)"
OK NICMOS	MOONANGL	DOUBLE	MOONANGL		F	NULL	NONE	NULL	"angle between moon and V1 axis"
OK NICMOS	SUN_ALT 	DOUBLE	SUN_ALT 		F	NULL	NONE	NULL	"altitude of the sun above Earth's limb"
OK NICMOS	FGSLOCK 	STRING 	FGSLOCK 		F	NULL	NONE	NULL	"commanded FGS lock (FINE,COARSE,GYROS,UNKNOWN"
OK NICMOS	TIME-OBS	STRING	TIME-OBS		F	NULL	NONE	NULL	"UT time of start of observation (hh:mm:ss)"
OK NICMOS	EXPSTART	DOUBLE	EXPSTART		F	NULL	NONE	NULL	"exposure start time (Modified Julian Date)"
OK NICMOS	EXPEND   	DOUBLE	EXPEND  		F	NULL	NONE	NULL	"exposure end time (Modified Julian Date)"
OK NICMOS	EXPTIME		DOUBLE	EXPTIME 		F	NULL	NONE	NULL	"total integration time (sec)"
OK NICMOS	EXPFLAG 	STRING	EXPFLAG 		F	NULL	NONE	NULL	"Exposure interruption indicator"
OK NICMOS	CAMERA 		SHORT	CAMERA  		F	3	NONE	NULL	"Camera in use (1, 2, or 3)"
OK NICMOS	PRIMECAM	SHORT	PRIMECAM  		F	3	NONE	NULL	"Primary camera for internal parallels"
OK NICMOS	APERTURE	STRING	APERTURE  		F	NULL	NONE	NULL	"aperture in use (NICi,NICi-FIX,NIC2-CORON/ACQ)"
OK NICMOS	OBSMODE 	STRING	OBSMODE	 		F	NULL	NONE	NULL	"array readout mode (ACCUM, MULTIACCUM, etc.)"
OK NICMOS	FILTER  	STRING	FILTER  		F	NULL	NONE	NULL	"filter wheel element in beam during observatioN"
OK NICMOS	NUMITER 	INT	NUMITER 		F	1	NONE	NULL	"number of exposure iterations"
OK NICMOS	NREAD   	INT  	NREAD   		F	1	NONE	NULL	"ACCUM - number of initial and final readouts"
OK NICMOS	NSAMP  		INT	NSAMP   		F	NULL	NONE	NULL	"RAMP, MULTI-ACCUM - number of samples"
OK NICMOS	SAMP_SEQ	STRING	SAMP_SEQ		F	NULL	NONE	NULL	"MultiAccum exposure time sequence name"
OK NICMOS	CR_ELIM  	STRING	CR_ELIM 		F	NULL	NONE	NULL	"RAMP - onboard cosmic ray detection used"
OK NICMOS	SAT_ELIM  	STRING	SAT_ELIM 		F	NULL	NONE	NULL	"RAMP - on-board saturation detection used"
OK NICMOS	CRTHRESH	DOUBLE	CRTHRESH 		F	0.0	NONE	NULL	"RAMP - on-board cosmic ray detect threshold"
OK NICMOS	SATHRESH	DOUBLE	SATHRESH 		F	0.0	NONE	NULL	"RAMP - on-board saturation threshold"
OK NICMOS	VARSCALE	DOUBLE	VARSCALE		F	0.0	NONE	NULL	"RAMP - on-board scale factor for variance"
OK NICMOS	PATT_OFF	STRING	PATT_OFF		F	NULL	NONE	NULL	""         
OK NICMOS	PATTERN 	STRING	PATTERN  		F	NULL	NONE	NULL	" pattern type"
OK NICMOS	PFRAME   	STRING	PFRAME   		F	NULL	NONE	NULL	"ref frame of pattern (DETECTOR, SKY)"
OK NICMOS	PORIENT		DOUBLE	PORIENT			F	NULL	NONE	NULL	" orientation of pattern on sky (deg)"
OK NICMOS	NUMPOS		INT	NUMPOS			F	NULL	NONE	NULL	"number of positions in pattern"
OK NICMOS	DITHSIZE	DOUBLE	DITHSIZE		F	NULL	NONE	NULL	" size of dither steps (arc seconds)"
OK NICMOS	CHOPSIZE	DOUBLE	CHOPSIZE		F	NULL	NONE	NULL	"size of chop steps (arc seconds)"
OK NICMOS	PATT_POS	INT	PATT_POS		F	NULL	NONE	NULL	" postion number in pattern sequence"
OK NICMOS	FOMXPOS 	DOUBLE	FOMXPOS 		F	NULL	NONE	NULL	" X offset of FOV using NICMOS FOM"
OK NICMOS	FOMYPOS		DOUBLE	FOMYPOS 		F	NULL	NONE	NULL	""               
OK NICMOS	TIMEPATT	INT	TIMEPATT		F	NULL	NONE	NULL	"timing pattern id"
OK NICMOS	READOUT  	STRING	READOUT  		F	FAST	NONE	NULL	"detector array readout rate (FAST, SLOW)"
OK NICMOS	HCLKRATE	FLOAT	HCLKRATE		F	NULL	NONE	NULL	"horizontal clock rate (microseconds)"
OK NICMOS	VIDEO_BW  	DOUBLE	VIDEO_BW  		F	NULL	NONE	NULL	"readout video bandwidth (kHz)"
OK NICMOS	ADCZERO  	DOUBLE	ADCZERO   		F	NULL	NONE	NULL	"analog-digital conversion zero level (DN)"
OK NICMOS	ADCGAIN  	DOUBLE	ADCGAIN    		F	NULL	NONE	NULL	"analog-digital conversion gain (electrons/DN)"
OK NICMOS       BACKEST1 	DOUBLE	BACKEST1 		F	NULL	NONE	NULL	"background estimate number 1"
OK NICMOS       BACKEST2	DOUBLE	BACKEST2		F	NULL	NONE	NULL	"background estimate number 2"
OK NICMOS       BACKEST3	DOUBLE	BACKEST3		F	NULL	NONE	NULL	"background estimate number 3"
OK NICMOS	PHOTMODE 	STRING	PHOTMODE		F	NULL	NONE	NULL	"photometry mode"
OK NICMOS	PHOTFLAM 	DOUBLE	PHOTFLAM		F	NULL	NONE	NULL	"inverse sensitivity (ergs/cm**2/Angstrom/DN)"
OK NICMOS	PHOTFNU  	DOUBLE	PHOTFNU   		F	NULL	NONE	NULL	"inverse sensitivity (JY*sec/DN)"
OK NICMOS	PHOTZPT  	DOUBLE	PHOTZPT    		F	NULL	NONE	NULL	"ST magnitude system zero point (mag)"
OK NICMOS	PHOTPLAM	DOUBLE	PHOTPLAM		F	NULL	NONE	NULL	"pivot wavelength of the photmode (Angstroms)"
OK NICMOS	PHOTBW   	DOUBLE	PHOTBW    		F	NULL	NONE	NULL	"RMS bandwidth of the photmode (Angstroms)"
OK NICMOS	MASKFILE	STRING	MASKFILE		F	NULL	NONE	NULL	"static data quality file"
OK NICMOS	NOISFILE	STRING	NOISFILE		F	NULL	NONE	NULL	"detector read noise file"
OK NICMOS	NLINFILE	STRING	NLINFILE		F	NULL	NONE	NULL	"detector nonlinearities file"
OK NICMOS	DARKFILE	STRING	DARKFILE		F	NULL	NONE	NULL	"dark current file"
OK NICMOS	FLATFILE	STRING	FLATFILE		F	NULL	NONE	NULL	"flat field file"
OK NICMOS	PHOTTAB  	STRING	PHOTTAB  		F	NULL	NONE	NULL	"photometric calibration table"
OK NICMOS	BACKTAB 	STRING	BACKTAB  		F	NULL	NONE	NULL	"background model parameters table"
OK NICMOS	MASKPDGR 	STRING	MASKPDGR 		F	NULL	NONE	NULL	"static data quality file pedigree"
OK NICMOS	NOISPDGR 	STRING	NOISPDGR 		F	NULL	NONE	NULL	"detector read noise file pedigree"
OK NICMOS	NLINPDGR 	STRING	NLINPDGR 		F	NULL	NONE	NULL	"detector nonlinearities file pedigree"
OK NICMOS	DARKPDGR 	STRING	DARKPDGR 		F	NULL	NONE	NULL	"dark current file pedigree" 
OK NICMOS	FLATPDGR 	STRING	FLATPDGR 		F	NULL	NONE	NULL	"flat field file pedigree"
OK NICMOS	PHOTPDGR 	STRING	PHOTPDGR 		F	NULL	NONE	NULL	"photometric calibration table pedigree"
OK NICMOS	BACKPDGR 	STRING	BACKPDGR 		F	NULL	NONE	NULL	"background model parameters table pedigree"
OK NICMOS	BIASCORR	STRING	BIASCORR 		F	NULL	NONE	NULL	""
OK NICMOS	ZOFFCORR	STRING	ZOFFCORR 		F	NULL	NONE	NULL	"subtract MULTI-ACCUM zero read"
OK NICMOS	MASKCORR	STRING	MASKCORR 		F	NULL	NONE	NULL	"data quality initialization"
OK NICMOS	NOISCORR	STRING	NOISCORR 		F	NULL	NONE	NULL	"calculate statistic errors"
OK NICMOS	NLINCORR	STRING	NLINCORR 		F	NULL	NONE	NULL	"correct for detector nonlinearities"
OK NICMOS	DARKCORR	STRING	DARKCORR 		F	NULL	NONE	NULL	"dark correction"
OK NICMOS	FLATCORR	STRING	FLATCORR 		F	NULL	NONE	NULL	"flat field correction"
OK NICMOS	UNITCORR	STRING	UNITCORR 		F	NULL	NONE	NULL	"convert to count rate"
OK NICMOS	PHOTCALC	STRING	PHOTCALC 		F	NULL	NONE	NULL	"calculate photometric keywords"
OK NICMOS	NOISCALC	STRING	NOISCALC 		F	NULL	NONE	NULL	"calculate statistic errors"
OK NICMOS	CRIDCALC	STRING	CRIDCALC 		F	NULL	NONE	NULL	"identify cosmic ray hits"
OK NICMOS	BACKCALC	STRING	BACKCALC 		F	NULL	NONE	NULL	"calculate background estimates"
OK NICMOS	WARNCALC	STRING	WARNCALC 		F	NULL	NONE	NULL	"generate user warnings"
OK NICMOS	BIASDONE	STRING	BIASDONE 		F	NULL	NONE	NULL	"subtract ADC bias level"
OK NICMOS	ZOFFDONE	STRING	ZOFFDONE 		F	NULL	NONE	NULL	"subtract MULTI-ACCUM zero read"
OK NICMOS	MASKDONE	STRING	MASKDONE 		F	NULL	NONE	NULL	"data quality initialization"
OK NICMOS	NOISDONE	STRING	NOISDONE 		F	NULL	NONE	NULL	"calculate statistic errors"
OK NICMOS	NLINDONE	STRING	NLINDONE 		F	NULL	NONE	NULL	"correct for detector nonlinearities"
OK NICMOS	DARKDONE	STRING	DARKDONE 		F	NULL	NONE	NULL	"dark correction"
OK NICMOS	FLATDONE	STRING	FLATDONE 		F	NULL	NONE	NULL	"flat field correction"
OK NICMOS	UNITDONE	STRING	UNITDONE 		F	NULL	NONE	NULL	"convert to count rates"
OK NICMOS	PHOTDONE	STRING	PHOTDONE 		F	NULL	NONE	NULL	"calculate photometric keywords"
OK NICMOS	CRIDDONE	STRING	CRIDDONE 		F	NULL	NONE	NULL	"identify cosmic ray hit"
OK NICMOS	BACKDONE	STRING	BACKDONE 		F	NULL	NONE	NULL	"calculate background estimates"
OK NICMOS	WARNDONE	STRING	WARNDONE 		F	NULL	NONE	NULL	"generate user warnings"
OK NICMOS	CALSTAGE	STRING	CALSTAGE 		F	NULL	NONE	NULL	"state of calibration"
OK NICMOS	ILLMCORR	STRING	ILLMCORR 		F	NULL	NONE	NULL	"background illumination pattern subtraction"
OK NICMOS	ILLMDONE	STRING	ILLMDONE 		F	NULL	NONE	NULL	""
OK NICMOS	ILLMFILE	STRING	ILLMFILE 		F	NULL	NONE	NULL	"background illumination pattern file name"
OK NICMOS	ILLMPDGR	STRING	ILLMPDGR 		F	NULL	NONE	NULL	"background illumination pattern file pedigree"
OK NICMOS	MEAN_BKG	DOUBLE	MEAN_BKG 		F	NULL	NONE	NULL	"mean background level (DN/sec)"
OK NICMOS	ASN_ID   	STRING	ASN_ID   		F	NULL	NONE	NULL	"unique identifier assigned to association"
OK NICMOS	ASN_TAB  	STRING	ASN_TAB   		F	NULL	NONE	NULL	"name of the association table"
OK NICMOS	ASN_MTYP	STRING	ASN_MTYP  		F	NULL	NONE	NULL	"Role of the Exposure in the Association"
OK NICMOS	BUNIT    	STRING 	BUNIT     		F	NULL	NONE	NULL	"brighness units"
OK NICMOS	EXPNAME  	STRING	EXPNAME 		F	NULL	NONE	NULL	"9 character exposure identifier"
OK NICMOS	FILLCNT 	INT	FILLCNT    		F	NULL	NONE	NULL	"number of segments containing fill"             
OK NICMOS	ERRCNT 		INT	ERRCNT     		F	NULL	NONE	NULL	"number of segments containing errors"
OK NICMOS	PODPSFF	 	BOOLEAN	PODPSFF    		F	NULL	NONE	NULL	"podps fill present (T/F)"
OK NICMOS	STDCFFF		BOOLEAN STDCFFF    		F	NULL	NONE	NULL	"ST DDF fill present (T/F)"
OK NICMOS 	STDCFFP	 	STRING	STDCFFP    		F	NULL	NONE	NULL	"ST DDF fill pattern (hex)"
OK NICMOS 	SAMPNUM 	INT	SAMPNUM    		F	NULL	NONE	NULL	"MULTIACCUM sample number"
OK NICMOS	SAMPTIME	FLOAT	SAMPTIME   		F	NULL	NONE	NULL	"total integration time (sec)"
OK NICMOS	DELTATIM	FLOAT	DELTATIM   		F	NULL	NONE	NULL	"integration time of this sample (sec)"          
OK NICMOS	ROUTTIME	FLOAT	ROUTTIME   		F	NULL	NONE	NULL	"UT time of array readout (MJD)"                 
OK NICMOS	TDFTRANS	INT	TDFTRANS   		F	NULL	NONE	NULL	"number of TDF transitions during current sample"
OK NICMOS	ENGQUAL 	STRING	ENGQUAL    		F	NULL	NONE	NULL	"engineering quality (NORMAL, FLAGS)"
OK NICMOS	NQUAL00		INT	NQUAL00      		F	NULL	NONE	NULL	"number of pixels with Reed-Solomon flag"
OK NICMOS	NQUAL01		INT	NQUAL01      		F	NULL	NONE	NULL	"number of pixels with Reed-Solomon flag"
OK NICMOS	NQUAL02   	INT	NQUAL02      		F	NULL	NONE	NULL	"number of pixels with NonLinearity flag"
OK NICMOS	NQUAL03   	INT	NQUAL03      		F	NULL	NONE	NULL	"number of pixels with Dark flag set"
OK NICMOS	NQUAL04   	INT	NQUAL04      		F	NULL	NONE	NULL	"number of pixels with Flat Field flag set"
OK NICMOS	NQUAL05   	INT	NQUAL05      		F	NULL	NONE	NULL	"number of pixels with Background flag set"
OK NICMOS	NQUAL06   	INT	NQUAL06      		F	NULL	NONE	NULL	"number of pixels with Defective flag set"
OK NICMOS	NQUAL07   	INT	NQUAL07      		F	NULL	NONE	NULL	"number of pixels with Saturated flag set"
OK NICMOS	NQUAL08   	INT	NQUAL08      		F	NULL	NONE	NULL	"number of pixels with Missing flag seT"
OK NICMOS	NQUAL09   	INT	NQUAL09      		F	NULL	NONE	NULL	"number of pixels with Bad Pixel flag set"
OK NICMOS	NQUAL10   	INT	NQUAL10      		F	NULL	NONE	NULL	"number of pixels with Cosmic Ray flag set"
OK NICMOS	NQUAL11   	INT	NQUAL11      		F	NULL	NONE	NULL	"number of pixels with Source flag set"
OK NICMOS	NQUAL12   	INT	NQUAL12      		F	NULL	NONE	NULL	"number of pixels with unassigned flag set"
OK NICMOS	GOODMEAN	FLOAT	GOODMEAN     		F	NULL	NONE	NULL	"mean of good pixels (no dq flags set)"
OK NICMOS	GOODSTDV	FLOAT	GOODSTDV     		F	NULL	NONE	NULL	"standard deviation of good pixels"
OK NICMOS	GOODMIN  	FLOAT	GOODMIN      		F	NULL	NONE	NULL	"min value of good pixels"
OK NICMOS	GOODMAX 	FLOAT	GOODMAX      		F	NULL	NONE	NULL	"max value of good pixels"  
OK NICMOS	QAMEAN  	FLOAT	QAMEAN      		F	NULL	NONE	NULL	"mean of good pixels in quadrant"
OK NICMOS	QASTDV  	FLOAT	QASTDV      		F	NULL	NONE	NULL	"standard deviation of good pixels in quad A" 
OK NICMOS	QAMIN   	FLOAT	QAMIN      		F	NULL	NONE	NULL	"min value of good pixels in quadrant A"
OK NICMOS	QAMAX   	FLOAT	QAMAX      		F	NULL	NONE	NULL	"max value of good pixels in quadrant A"
OK NICMOS	QBMEAN  	FLOAT	QBMEAN      		F	NULL	NONE	NULL	"mean of good pixels in quadrant B"
OK NICMOS	QBSTDV  	FLOAT	QBSTDV      		F	NULL	NONE	NULL	"standard deviation of good pixels in quad B"
OK NICMOS	QBMIN   	FLOAT	QBMIN      		F	NULL	NONE	NULL	"min value of good pixels in quadrant B"
OK NICMOS	QBMAX   	FLOAT	QBMAX      		F	NULL	NONE	NULL	"max value of good pixels in quadrant B"
OK NICMOS	QCMEAN  	FLOAT	QCMEAN      		F	NULL	NONE	NULL	"mean of good pixels in quadrant C"
OK NICMOS	QCSTDV  	FLOAT	QCSTDV      		F	NULL	NONE	NULL	"standard deviation of good pixels in quad C"
OK NICMOS	QCMIN   	FLOAT	QCMIN      		F	NULL	NONE	NULL	"min value of good pixels in quadrant C"
OK NICMOS	QCMAX   	FLOAT	QCMAX      		F	NULL	NONE	NULL	"max value of good pixels in quadrant C"
OK NICMOS	QDMEAN  	FLOAT	QDMEAN      		F	NULL	NONE	NULL	"mean of good pixels in quadrant D"
OK NICMOS	QDSTDV  	FLOAT	QDSTDV      		F	NULL	NONE	NULL	"standard deviation of good pixels in quad D"
OK NICMOS	QDMIN   	FLOAT	QDMIN      		F	NULL	NONE	NULL	"min value of good pixels in quadrant D"
OK NICMOS	QDMAX   	FLOAT	QDMAX      		F	NULL	NONE	NULL	"max value of good pixels in quadrant D"
OK NICMOS	NPIX1       	INT	NPIX1  	 		F	0	NONE	NULL	"length of constant array axis 1"
OK NICMOS	NPIX2      	INT	NPIX2	 		F	0	NONE	NULL	"length of constant array axis 2"
OK NICMOS	PIXVALUE	ANY	PIXVALUE		F	NULL	NONE	NULL	"values of pixesl in constant array"
