#
#***********************************************************************
#***  C A N A D I A N   A S T R O N O M Y   D A T A   C E N T R E  *****
#
# (c) 1997				(c) 1997
# National Research Council		Conseil national de recherches
# Ottawa, Canada, K1A 0R6 		Ottawa, Canada, K1A 0R6
# All rights reserved			Tous droits reserves
# 					
# NRC disclaims any warranties,	Le CNRC denie toute garantie
# expressed, implied, or statu-	enoncee, implicite ou legale,
# tory, of any kind with respect	de quelque nature que se soit,
# to the software, including		concernant le logiciel, y com-
# without limitation any war-		pris sans restriction toute
# ranty of merchantability or		garantie de valeur marchande
# fitness for a particular pur-	ou de pertinence pour un usage
# pose.  NRC shall not be liable	particulier.  Le CNRC ne
# in any event for any damages,	pourra en aucun cas etre tenu
# whether direct or indirect,		responsable de tout dommage,
# special or general, consequen-	direct ou indirect, particul-
# tial or incidental, arising		ier ou general, accessoire ou
# from the use of the software.	fortuit, resultant de l'utili-
# 					sation du logiciel.
#
#***********************************************************************
#
# FILENAME
# dhsData/config/dhsData.config
#
# PURPOSE:
# Configuration file for the DHS data server.
#
#INDENT-OFF*
# $Log: not supported by cvs2svn $
# Revision 1.1.1.1  2002/02/21 20:23:34  tpaz
#
#
# Revision 1.1.1.1  1999/08/23 19:58:19  cvs-tuc
# Initial install into CVS of dhs-0.16
#
#INDENT-ON*
#
#***  C A N A D I A N   A S T R O N O M Y   D A T A   C E N T R E  *****
#***********************************************************************
#

#
#  Application identification
#
# Keyword	application 
#
# -------	-----------
#

identity	dataServer1



#
#  Imp information
#
# keyword	Max connects
#
# --------	------------
#

imp		20


#
#  Database information - Warning, cannot name unique table "unique" that is
#                         a Sybase reserved word.
#
# keyword	ServerName	DatabaseName	Unique		Dataset	Process
#						Tbl		Tbl	Tbl
# --------	------------	------------	------		-------	-------
#

database	SUMMIT		dhs_test	uniqueName	dataset	process


#
#  Compression information - Data Server uncompresses stored compressed files.
#
# keyword	Compression	Compression
#		Extension	Type
# --------	-----------	-----------
#

compress	".gz"		"GZIP"


#
#  Disk Storage information
#
# keyword	Temporary	Permanent	
#		Volume Name	Volume Name 
#               (Volume names must exist in the
#		mds table and contains the path
#		to where files are written )
# --------	-----------	-----------
#

storage		TEMP		PERM	


#
#  Server Identity Names that the Data Server connects to
#
# keyword	Storage		Oldp		Status		QuickLook
# -------	-------		----		------		---------
#

servers		storeServer	oldpServer	statusServer	qlServer


#
#  Authorized sites connection information.
#  Accepts wildcard "*" in identity for client connections only.
#
# keyword	Identity		IP Address
# -------	--------		-------
#

authorized	storeServer		204.174.103.47
authorized	oldpServer		204.174.103.47
authorized	statusServer		204.174.103.47
authorized	qlServer		204.174.103.47
authorized	commandServer		204.174.103.47
authorized	tool1			204.174.103.47
authorized	ocs			204.174.103.47
authorized	dhsPut*			204.174.103.47
authorized	dhsGet*			204.174.103.47
authorized	cmdSender*		204.174.103.47
authorized	dataServerRemote2	204.174.103.47


#
#  Default dataset and unique name settings.
#
# keyword	Lifetime	Location	Source
#	     ("P"erm or"T"emp)	("N" or "S")	("O"CS, "S"ummit, "B"ase)
#-------    -----------------	------------	-------------------
#

names		P		N		B


#
#  Fits table name where fits header information is stored.
#
# keyword	Fits table name
# -------	---------------
#

fitsTable	fitsHeader


#
#  Archive Segregation Directory Name
#
# keyword	Segregation Dir
# -------	----------------
#

segregation	sci

