#
#  Application identification
#
# Keyword	application 
#
# -------	-----------
#

identity	commandServer


#
#  Imp information
#
# keyword	Max connects
#
# --------	------------
#

imp		10


#
#  Subsystem list
#
# keyword	subSystem	address		identity	commandLine
# -------	---------	-------		--------	-----------
#  

subsystem	CMD		localhost		commandServer	dhsCmd
subsystem   DTS      localhost      dataServer1    dhsData
#subsystem  HIS      localhost      historyServer  dhsHistory
subsystem   QLS      localhost      qlServer       dhsQlServer
subsystem	STA		localhost		statusServer	dhsStatus

#
#  Command list
#
# keyword	command		abortable	subsystem	target
#		name				list		systems
#  --------	-------		---------	---------	-------
#

command		abort		         yes		no
command		bdDelete	         yes		no		DTS
command		cmdAbort	         no		   no		CMD
command		cmdSystemExit	   no		   no		CMD
command		continue	         yes		no
command		datasetInfo	      yes		no		DTS
command		debugLevel	      no		   yes   *
command     dtsDatasetDelete  yes      no    DTS
command		endguide	         yes		no
command		endverify	      yes		no
command		flush		         yes		yes   *
command		guide		         yes		no
#command		hisLogWrite	      yes		no    HIS
command		observe		      yes		no
command		park		         yes		no
command		pause		         yes		no
command		ping		         no		   yes   *
command		resetHealth	      yes		yes   *
command		simulateLevel	   no		   yes   *
command		stop		         yes		no
command		test		         yes		yes   *
command		verify		      yes		no


#
# NOTE that these commands have a fully specified subsytem list.  This
# is because the order of execution is important for these commands.
# In the case if "reset" and "init" the Status server must be first and
# the "DTS" next to last.  In the case of exit the status server needs to
# be next to last and the data server one of the first systems.  The order
# the subsystems appear in is the order they will be executed in, except
# the command server always executes the command on itself last, so the
# Command server is always last.
#

#command		exit		no		yes		DTS QLS HIS STA CMD
#command		init		no		yes		STA QLS DTS HIS CMD
#command		reset		no		yes		STA QLS DTS HIS CMD

command		exit		no		yes		DTS QLS STA CMD
command		init		no		yes		STA QLS DTS CMD
command		reset		no		yes		STA QLS DTS CMD


#
#  Command attribute list
#
# keyword	command		attribute		type		optional
#		name		name
#  --------	-------		---------		----		--------
#

attribute	bdDelete	         datasetName		   DHS_DT_STRING	no
attribute	cmdAbort	         tag			      DHS_DT_TAG	   no
attribute	cmdSystemExit	   disconnectTimeout	DHS_DT_INT32	yes
attribute	debugLevel	      level			      DHS_DT_STRING	no
attribute	debugLevel	      subsystem		   DHS_DT_STRING	yes
attribute	dtsDatasetDelete  dataLabel		   DHS_DT_STRING	no
attribute	exit		         subsystem		   DHS_DT_STRING	yes
attribute	flush		         subsystem		   DHS_DT_STRING	yes
attribute	init		         subsystem		   DHS_DT_STRING	yes
attribute	ping		         subsystem		   DHS_DT_STRING	yes
attribute	reset		         subsystem		   DHS_DT_STRING	yes
attribute   resetHealth       subsystem         DHS_DT_STRING  yes
attribute	simulateLevel	   level			      DHS_DT_STRING	no
attribute	simulateLevel	   subsystem		   DHS_DT_STRING	yes
attribute   test              subsystem         DHS_DT_STRING  yes

