#
#***********************************************************************
#***  C A N A D I A N   A S T R O N O M Y   D A T A   C E N T R E  *****
#
# (c) 1997 				(c) 1997
# National Research Council		Conseil national de recherches
# Ottawa, Canada, K1A 0R6 		Ottawa, Canada, K1A 0R6
# All rights reserved			Tous droits reserves
# 					
# NRC disclaims any warranties,		Le CNRC denie toute garantie
# expressed, implied, or statu-		enoncee, implicite ou legale,
# tory, of any kind with respect	de quelque nature que se soit,
# to the software, including		concernant le logiciel, y com-
# without limitation any war-		pris sans restriction toute
# ranty of merchantability or		garantie de valeur marchande
# fitness for a particular pur-		ou de pertinence pour un usage
# pose.  NRC shall not be liable	particulier.  Le CNRC ne
# in any event for any damages,		pourra en aucun cas etre tenu
# whether direct or indirect,		responsable de tout dommage,
# special or general, consequen-	direct ou indirect, particul-
# tial or incidental, arising		ier ou general, accessoire ou
# from the use of the software.		fortuit, resultant de l'utili-
# 					sation du logiciel.
#
#***********************************************************************
#
# FILENAME
# dhsConsole/config/dhsConsole.config
#
# PURPOSE:
# Configuration file for the DHS Console (DHG)
#
#INDENT-OFF*
# $Log: dhsConsole.config,v $
# Revision 1.1.1.1  2002/11/24 20:26:24  brighton
# Imported sources
#
# Revision 1.1.1.1  2002/02/21 20:23:34  tpaz
#
#
# Revision 1.1.1.1  1999/08/23 19:58:13  cvs-tuc
# Initial install into CVS of dhs-0.16
#
# Revision 1.22  1999/06/24 17:47:40  jaeger
# Removed "req%d:AutoRetrieve" record.
#
# Revision 1.21  1999/06/21 20:59:18  jaeger
# Version number.
#
# Revision 1.20  1999/06/18 03:08:32  jaeger
# Updated the version number.
#
# Revision 1.19  1999/06/16 23:12:35  jaeger
# Added a warning message about the "max" values in the status record (channel)
# configurations.
#
# Revision 1.18  1999/06/16 22:50:14  jaeger
# "Geminized" the aliases given to the records.  Added the full compliment
# of SDP and OLP records, even though they are not used.
#
# Revision 1.17  1999/01/26 06:42:45  jaeger
# Updated version number.
#
# Revision 1.16  1998/08/05 06:15:22  jaeger
# updated version number.
#
# Revision 1.15  1998/07/20 19:46:05  jaeger
#  Removed the "Problem with EPICS" resource.
#
# Revision 1.14  1998/06/25 20:20:10  jaeger
# Updated version number.
#
# Revision 1.13  1998/06/19 22:57:15  jaeger
# Added stuff for configuring status records.
#
# Revision 1.12  1998/06/15 16:39:25  jaeger
# Update version number.
#
# Revision 1.11  1998/05/25 20:11:25  jaeger
# Changed the version information.
#
# Revision 1.10  1998/05/20 21:05:32  jaeger
# Added Summit/Base specification of status records.
#
# Revision 1.9  1998/05/15 18:13:42  jaeger
# Fixed the statusRouter information.
#
# Revision 1.8  1998/05/15 17:51:07  jaeger
# Added dataserver and statusRouter configuration information.
#
# Revision 1.7  1998/05/04 21:07:42  jaeger
# Added STO subystem and removed the DHS subsystem (no longer needed).
#
# Revision 1.6  1998/04/15 22:44:09  jaeger
# Converted configuration file to be usable by the nes configGen class,
# now looks like all of the other DHS configuration files.
#
# Revision 1.5  1998/04/14 19:41:29  jaeger
# updated resource list.
#
# Revision 1.4  1998/03/16 23:25:02  jaeger
# Added "cmd" to specify the name of the command server
#
# Revision 1.3  1998/03/06 18:08:43  jaeger
# Changed store config info to resource config info.
#
# Revision 1.2  1997/12/04 17:38:42  jaeger
# Changes made match those made by the config class. Added comments.
#
# Revision 1.1  1997/10/30 22:09:31  jaeger
# Initial revision
#
#INDENT-ON*
#
#***  C A N A D I A N   A S T R O N O M Y   D A T A   C E N T R E  *****
#***********************************************************************
#


#
#  Application identification
#
# Keyword       application 
#
# -------       -----------
#
 
identity        dhsConsole


#
#  Version information
#
# Keyword       description	
#
# -------       ----------------
#
 
version		"dhsConsole 0.23 (c) 1998 NRC/CNRC"


#
# Command server identification information.
#
# Server        Server's IMP    Host
# Keyword       Identity        Address
# -------       ------------    -------
#
 
commandServer	commandServer	CMD_HOST


#
# Data Sserver identification information.
#
# Server        Server's IMP    Host
# Keyword       Identity        Address
# -------       ------------    -------
#
 
dataServer	dataServer	DTS_HOST


#
# Command server identification information.
#
# Server        Server's IMP    Host	Gemini Location	Gemini Site
# Keyword       Identity        Address	("N"orth or
#					 "S"outth)	("S"ummit, "B"ase)
# -------       ------------    -------	---------------	------------------
#
 
statusRouter	statusServer	STA_HOST	GEM_LOCATION	FACILITY	



#
#  EPICS channel information.
#
#  WARNING: The "max" values specified here must match those used by the
#           DHS Status server, DHS Storage server, DHS On-line Data
#           Processing server, and the DHS Synchronous Data Processing
#           server.
#
# keyword subsystem channel name		alias			max
#
# ------- --------- ------------		-----			-----
#

channel	    -	    logMessage			dhsLog			-

channel     -       resourceArraySize       	resArraySize		-
channel     -       resource%d:inUse        	res%dInUse		12
channel     -       resource%d:fullname     	res%dFullname		12
channel     -       resource%d:max          	res%dMax		12
channel     -       resource%d:name         	res%dName		12
channel     -       resource%d:type         	res%dType		12
channel     -       resource%d:used         	res%dUsed		12
channel     -       resource%d:units        	res%dUnits		12

channel	    *	    health			health			-
channel	    *	    healthDesc			desc			-
channel	    *	    state			state			-
channel	    *	    debug			debug			-
channel	    *	    simulate			sim			-

channel	    -	    health			dhsHealth		-
channel	    -	    healthDesc			dhsDesc			-
channel	    -	    state			dhsState		-
channel	    -	    debug			dhsDebug		-
channel	    -	    simulate			dhsSim			-

channel	    DTS	    numIncomplete		inc			-


channel	    STO	    alert			alert			-

channel     STO     numUnits                    numUnits		-
channel     STO     unitOverflow                unitOverflow		-
channel	    STO	    unitArraySize		unitArraySize		-
channel     STO     unit%d:inUse                unit%dInUse		20
channel     STO     unit%d:cleanupValue         unit%dCleanupValue	20
channel     STO     unit%d:prepValue            unit%dPrepValue		20
channel     STO     unit%d:reqId                unit%dReqId		20
channel     STO     unit%d:unitSize             unit%dUnitSize		20
channel     STO     unit%d:unitName             unit%dUnitName		20
channel     STO     unit%d:writeNum             unit%dWriteNum		20

channel	    STO	    numStages			numStages		-
channel     STO	    stageArraySize		stageArraySize		-
channel     STO     stage%d:inUse               stage%dInUse		10
channel     STO     stage%d:dirName             stage%dDirName		10
channel     STO     stage%d:reqId               stage%dReqId		10
channel     STO     stage%d:unitName            stage%dUnitName		10

channel     STO     numActions                  numActions		-
channel     STO     actionOverflow              actionOverflow		-
channel	    STO	    actionArraySize		actionArraySize		-
channel     STO     action%d:inUse              action%dInUse		15
channel     STO     action%d:action             action%dAction		15
channel     STO     action%d:active             action%dActive		15 
channel     STO     action%d:option             action%dOption		15
channel     STO     action%d:position           action%dPosition	15
channel     STO     action%d:reqId              action%dReqId		15

channel	    STO	    numDevices			numDevices		-
channel	    STO	    deviceArraySize		deviceArraySize		-
channel	    STO     device%d:inUse		device%dInUse		20
channel	    STO     device%d:available		device%dAvailable	20
channel	    STO     device%d:capacity		device%dCapacity	20
channel	    STO     device%d:deviceInUse	device%dDeviceInUse	20
channel	    STO     device%d:logicalName	device%dLogicalName	20
channel	    STO     device%d:numDevices		device%dNumDevices	20
channel	    STO     device%d:reqId		device%dReqId		20
channel	    STO     device%d:type		device%dType		20
channel	    STO     device%d:typeDesc		device%dTypeDesc	20
channel	    STO     device%d:unitName		device%dUnitName	20

channel     STO     numReqs                     numReqs			-
channel     STO     reqOverflow                 reqOverflow		-
channel	    STO	    reqArraySize		reqArraySize		-
channel     STO     req%d:inUse                 req%dInUse		20
channel     STO     req%d:cleanupNum            req%dCleanupNum		20
channel     STO     req%d:cleanupState          req%dCleanupState	20
channel     STO     req%d:mediaType             req%dMediaType		20
channel     STO     req%d:notifyState           req%dNotifyState	20
channel     STO     req%d:notifyValue           req%dNotifyValue	20
channel     STO     req%d:numCopies		req%dNumCopies		20
channel     STO     req%d:prepNum               req%dPrepNum		20
channel     STO     req%d:prepState             req%dPrepState		20
channel     STO     req%d:queueSize             req%dQueueSize		20
channel     STO     req%d:queueState            req%dQueueState		20
channel     STO     req%d:reqId                 req%dReqId		20
channel     STO     req%d:reqName               req%dReqName		20
channel     STO	    req%d:reqType		req%dReqType		20
channel     STO     req%d:retrieveSize          req%dRetrieveSize	20
channel     STO     req%d:retrieveState         req%dRetrieveState	20
channel     STO     req%d:writeNum              req%dWriteNum		20
channel     STO     req%d:writeState            req%dWriteState		20

 
channel     SDP     arraySize			jobArraySize   		-
channel     SDP     numJobs			numJobs			-
channel     SDP     overflow			jobOverflow   		-
channel	    SDP	    job%d:inUse			sdpJob%dInUse		10
channel	    SDP	    job%d:client		sdpJob%dClient		10
channel	    SDP	    job%d:desc			sdpJob%dDesc		10
channel	    SDP	    job%d:name			sdpJob%dName		10
channel	    SDP	    job%d:recipe		sdpJob%dRecipe		10
channel	    SDP	    job%d:start			sdpJob%dStart		10
channel	    SDP	    job%d:type			sdpJob%dType		10

channel     OLP     arraySize               	jobArraySize   		-
channel     OLP     numActive               	numActiveJobs  		-
channel     OLP     numJobs                 	numJobs			-
channel     OLP     overflow                	jobOverflow    		-
channel	    OLP	    job%d:inUse			job%dInUse		10
channel	    OLP	    job%d:client		job%dClient		10
channel	    OLP	    job%d:desc			job%dDesc		10
channel	    OLP	    job%d:id			job%dId			10
channel	    OLP	    job%d:numQueued		job%dNumQueued		10
channel	    OLP	    job%d:numRunning		job%dNumRunning	10
channel	    OLP	    job%d:numInstances		job%dNumInstances	10
channel	    OLP	    job%d:name			job%dName		10
channel	    OLP	    job%d:numNodes		job%dNumNodes		10
channel	    OLP	    job%d:state			job%dState		10


#
#  DHS subsystem information.
#
# keyword       subsystem
#
# -------       ---------
#
 
subsystem       CMD
subsystem       DTS
subsystem       HIS
subsystem       OLP
subsystem       QLS
subsystem       STA
subsystem       SDP
subsystem	STO


#
#  List of resources to be monitored.
#
# keyword       resource
#
# -------       ---------
#
 
resource	"Temp Store"
resource	"Perm Store"
resource	"localhost /tmp"
#resource	"DHS DB"
resource	"dhsDB_NS db"
resource	"History Store"


