#
#  Application identification
#
# Keyword	application 
#
# -------	-----------
#

identity	dataServer1



#
#  Imp information
#
# keyword	Max connects
#
# --------	------------
#

imp		20


#
#  Database information - Warning, cannot name unique table "unique" that is
#                         a Sybase reserved word.
#
# keyword	ServerName	DatabaseName	Unique		Dataset	Process
#						Tbl		Tbl	Tbl
# --------	------------	------------	------		-------	-------
#

##database	SUMMIT		dhs_test	uniqueName	dataset	process
database	scott           dhsDB_NB        uniqueName      dataset process


#
#  Compression information - Data Server uncompresses stored compressed files.
#
# keyword	Compression	Compression
#		Extension	Type
# --------	-----------	-----------
#

compress	".gz"		"GZIP"


#
#  Disk Storage information
#
# keyword	Temporary	Permanent	
#		Volume Name	Volume Name 
#               (Volume names must exist in the
#		mds table and contains the path
#		to where files are written )
# --------	-----------	-----------
#

storage		TEMP		PERM	


#
#  Server Identity Names that the Data Server connects to
#
# keyword	Storage		Oldp		Status		QuickLook
# -------	-------		----		------		---------
#

servers		storeServer	oldpServer	statusServer	qlServer
#servers		dhsSim4Data	dhsSim4Data	statusServer	qlServer


#
#  Authorized sites connection information.
#  Accepts wildcard "*" in identity for client connections only.
#
# keyword	Identity		IP Address
# -------	--------		-------
#

authorized	storeServer		STORE_HOST
authorized	oldpServer		OLDP_HOST
authorized	statusServer		STA_HOST
authorized	qlServer		QLS_HOST
authorized	commandServer		CMD_HOST
authorized	tool1			TOOL1_HOST
authorized	ocs			OCS_HOST
authorized	dhsPut*			DHS_HOST
authorized	dhsGet*			DHS_HOST
authorized	cmdSender*		CMD_HOST
authorized	dataServerRemote2	DTS_HOST
authorized	sim1			SIM_HOST
authorized	tool2			TOOL2_HOST
authorized      hrwfs                   HRWFS_HOST
authorized      pwfs1                   PWFS1_HOST
authorized      pwfs2                   PWFS2_HOST
authorized      oiwfs                   OIWFS_HOST

#
#  Default dataset and unique name settings.
#
# keyword	Lifetime	Location	Source
#	     ("P"erm or"T"emp)	("N" or "S")	("O"CS, "S"ummit, "B"ase)
#-------    -----------------	------------	-------------------
#

names		P		GEM_LOCATION	ALTITUDE


#
#  Fits table name where fits header information is stored.
#
# keyword	Fits table name
# -------	---------------
#

#maybe fitsTable fitsTable ???
fitsTable	fitsHeader


#
#  Archive Segregation Directory Name
#
# keyword	Segregation Dir
# -------	----------------
#

segregation	sci

