#***********************************************************************
#***  C A N A D I A N   A S T R O N O M Y   D A T A   C E N T R E  *****
#
# (c) 1997				(c) 1997
# National Research Council		Conseil national de recherches
# Ottawa, Canada, K1A 0R6 		Ottawa, Canada, K1A 0R6
# All rights reserved			Tous droits reserves
# 					
# NRC disclaims any warranties,	Le CNRC denie toute garantie
# expressed, implied, or statu-	enoncee, implicite ou legale,
# tory, of any kind with respect	de quelque nature que se soit,
# to the software, including		concernant le logiciel, y com-
# without limitation any war-		pris sans restriction toute
# ranty of merchantability or		garantie de valeur marchande
# fitness for a particular pur-	ou de pertinence pour un usage
# pose.  NRC shall not be liable	particulier.  Le CNRC ne
# in any event for any damages,	pourra en aucun cas etre tenu
# whether direct or indirect,		responsable de tout dommage,
# special or general, consequen-	direct ou indirect, particul-
# tial or incidental, arising		ier ou general, accessoire ou
# from the use of the software.	fortuit, resultant de l'utili-
# 					sation du logiciel.
#
#***********************************************************************
#
# FILENAME
# dhsHistory/config/dhsHistory.config
#
# PURPOSE:
# Configuration file for the history server.
#
#INDENT-OFF*
#
#INDENT-ON*
#
#***  C A N A D I A N   A S T R O N O M Y   D A T A   C E N T R E  *****
#***********************************************************************
#

#
# Application identification.
#
# Identity	Application 
# Keyword	Identifier
# --------	-----------
#

identity	historyServer


#
# IMP information.
#
# Imp		Maximum Number
# Keyword	of Connections
# --------	--------------
#

imp		4


#
# Status server identification information.
#
# Server	Server's IMP	Host
# Keyword	Identity	Address
# -------	------------	-------
#

statusServer	statusServerNS	localhost


#
# Data server identification information.
#
# Data Server	Server's IMP	Host
# Keyword	Identity	Address
# -----------	------------	-------
#

dataServer	dataServerNS	localhost


#
# Database server and table names.
#
# Database 	DB Server	History		History Events	History Labels 
# Keyword	Name		Database	Table		Table
# --------	---------	--------	-------		-----
#

##database	SYBASE		cadctemp	historyEvents	historyLabels
database      scott           dhsDB_NB       historyEvents    historyLabels


#
# Working directory to use for history server's files.  
#
# Directory	Path to 
# Keyword	Directory
# ---------	---------
#

directory	/usr/cadcdev/gemini/current/develop/dhsHistory/work


#
# EPICS Channel Access information - list of channels to monitor.
#
# Channel	Channel
# Keyword	Name
# -------	-------
#


channel		DHS:logMessage
#channel		DHS:STA:debug
#channel		DHS:DTS:debug
