#
#  Application identification
#
# Keyword	application 
#
# -------	-----------
#

identity	qlServer


#
#  Imp information
#
# keyword	Max connects
#
# --------	------------
#

imp		20


#
#  Status server identification information.
#
# keyword	Identity	address
#
# -------	--------	-------
#

statusServer	statusServer	localhost


#
#  Master quick look server id.
#
# keyword	name		address
# -------	----		-------
#

masterId	qlServer	localhost


#
#  Data server id.
#
# keyword	name		address
# -------	----		-------
#

dataServerId	dataServer1	localhost



#  Default quick look streams.
#
# keyword	name
#
# -------	----
#

qlStream	x41ql


#
#  Fits keyword information.
#
# keyword	keyword		main	copy from	copy from
#		name		header	first		next
# -------	-------		------	---------	---------
#

fitsKeyword	""		TRUE	false		false
fitsKeyword	""		false	false		false
fitsKeyword	COMMENT		TRUE	false		false
fitsKeyword	COMMENT		false	false		false
fitsKeyword	HISTORY		TRUE	false		false
fitsKeyword	HISTORY		false	false		false
fitsKeyword	CHUNK		true	false		false
fitsKeyword	CHUNK		false	false		false
fitsKeyword	SIMPLE		TRUE	false		false
fitsKeyword	SIMPLE		false	false		false
fitsKeyword	BITPIX		TRUE	no		no
fitsKeyword	BITPIX		false	false		false
fitsKeyword	END		true	true		true
fitsKeyword	END		false	true		true
fitsKeyword	XTENSION	false	false		false
fitsKeyword	BSCALE		true	true		false
fitsKeyword	BSCALE		false	true		false
fitsKeyword	BZERO		true	true		false
fitsKeyword	BZERO		false	true		false
fitsKeyword	NAXIS		true	false		false
fitsKeyword	NAXIS1		true	false		false
fitsKeyword	NAXIS2		true	false		false
fitsKeyword	NAXIS3		true	false		false
fitsKeyword	NAXIS4		true	false		false
fitsKeyword	NAXIS5		true	false		false
fitsKeyword	NAXIS6		true	false		false
fitsKeyword	NAXIS7		true	false		false
fitsKeyword	NAXIS		false	false		false
fitsKeyword	NAXIS1		false	false		false
fitsKeyword	NAXIS2		false	false		false
fitsKeyword	NAXIS3		false	false		false
fitsKeyword	NAXIS4		false	false		false
fitsKeyword	NAXIS5		false	false		false
fitsKeyword	NAXIS6		false	false		false
fitsKeyword	NAXIS7		false	false		false
fitsKeyword	AXISSZ1		true	false		false
fitsKeyword	AXISSZ2		true	false		false
fitsKeyword	AXISSZ3		true	false		false
fitsKeyword	AXISSZ4		true	false		false
fitsKeyword	AXISSZ5		true	false		false
fitsKeyword	AXISSZ6		true	false		false
fitsKeyword	AXISSZ7		true	false		false
fitsKeyword	AXISSZ1		false	false		false
fitsKeyword	AXISSZ2		false	false		false
fitsKeyword	AXISSZ3		false	false		false
fitsKeyword	AXISSZ4		false	false		false
fitsKeyword	AXISSZ5		false	false		false
fitsKeyword	AXISSZ6		false	false		false
fitsKeyword	AXISSZ7		false	false		false
fitsKeyword	ORIGINS1	true	false		false
fitsKeyword	ORIGINS2	true	false		false
fitsKeyword	ORIGINS3	true	false		false
fitsKeyword	ORIGINS4	true	false		false
fitsKeyword	ORIGINS5	true	false		false
fitsKeyword	ORIGINS6	true	false		false
fitsKeyword	ORIGINS7	true	false		false
fitsKeyword	ORIGINS1	false	false		false
fitsKeyword	ORIGINS2	false	false		false
fitsKeyword	ORIGINS3	false	false		false
fitsKeyword	ORIGINS4	false	false		false
fitsKeyword	ORIGINS5	false	false		false
fitsKeyword	ORIGINS6	false	false		false
fitsKeyword	ORIGINS7	false	false		false
fitsKeyword	EXTEND		true	false		false
fitsKeyword	NEXTEND		true	false		false
fitsKeyword	EXTNAME		false	false		false
fitsKeyword	FRMNAME		false	true		false
fitsKeyword	EXTNAME		true	false		false
fitsKeyword	FRMNAME		true	false		false
fitsKeyword	PCOUNT		false	true		false
fitsKeyword	GCOUNT		false	true		false
fitsKeyword	INSTRUME	true	true		false
fitsKeyword	OBJECT		true	false		false
fitsKeyword	OBJECT		false	false		false
