#
#  Application identity
#
# Keyword	application 
#		identity
# -------	-----------
#

identity	dhsSim4Data


#
#  Imp information
#
# keyword	Maximum #
#		of connections
# --------	--------------
#

imp		13


#
#  DataServer information
#
# Keyword	dataServer	dataServer
#		identity	IP Address
# ------- 	----------	----------
#

dataServer	dataServer	127.0.0.1

