#
#  Application Identification.
#
# Keyword	Identity
# -------	--------
#

identity	storageServerNB


#
#  Imp Information.
#
# Keyword	Max connects
# --------      ------------
#
 
imp		10


#
#  Local Status Server and IP Address. 
#
# Keyword	Idenity		Host Address
# -------	-------		------------
#

statusServer	statusServerNB	STA_HOST


#
#  Authorized connectors list. 
#
# Keyword	Identity	Host Address
# -------	--------	------------
#

authorized	dataServerNB	DTS_HOST
authorized	commandServerNB	CMD_HOST


#
#  Identity of Local Data Server. This Data Server will be used for
#  all data retrievals. Must also be in `authorized' list, above.
#
#			Data Server
# Keyword		Identity
# -------		-----------
#

localDataServer		dataServerNB


#
#  List of identities of Data Servers which will be notified when the 
#  Storage Server starts up. Must also be in `authorized' list, above.
#
#			Data Server
# Keyword		Identity
# -------		-----------
#

notifyDataServer	dataServerNB


#
#  Number of processing nodes the Status Server will manage.
#
# Keyword	Number of 
#		Nodes
# -------	---------
#

numNodes	5


#
# Define which AM application to use to queue, prepare and write
# data.
#
#
# Keyword       Queue App.      Prepare App.    Write App.	Cleanup App.
# -------       ----------      ------------    ----------	------------
#

amApps		mediaQueue	mediaPrep	mediaWrite	mediaCleanup
