#***********************************************************************
#***  C A N A D I A N   A S T R O N O M Y   D A T A   C E N T R E  *****
#
# (c) 1999				(c) 1999
# National Research Council		Conseil national de recherches
# Ottawa, Canada, K1A 0R6 		Ottawa, Canada, K1A 0R6
# All rights reserved			Tous droits reserves
# 					
# NRC disclaims any warranties,		Le CNRC denie toute garantie
# expressed, implied, or statu-		enoncee, implicite ou legale,
# tory, of any kind with respect	de quelque nature que se soit,
# to the software, including		concernant le logiciel, y com-
# without limitation any war-		pris sans restriction toute
# ranty of merchantability or		garantie de valeur marchande
# fitness for a particular pur-		ou de pertinence pour un usage
# pose.  NRC shall not be liable	particulier.  Le CNRC ne
# in any event for any damages,		pourra en aucun cas etre tenu
# whether direct or indirect,		responsable de tout dommage,
# special or general, consequen-	direct ou indirect, particul-
# tial or incidental, arising		ier ou general, accessoire ou
# from the use of the software.		fortuit, resultant de l'utili-
# 					sation du logiciel.
#
#***********************************************************************
#
# FILENAME
# dhsQlTool/config/dhsQlt.config
#
# PURPOSE:
# This is the Quick Look Tool configuration file.
#
#INDENT-OFF*
# $Log: not supported by cvs2svn $
# Revision 1.1.1.1  2002/11/24 20:29:56  brighton
# Imported sources
#
# Revision 1.1.1.1  2002/02/21 20:23:34  tpaz
#
#
# Revision 1.1.1.1  1999/08/23 19:58:27  cvs-tuc
# Initial install into CVS of dhs-0.16
#
# Revision 1.5  1999/01/29 17:56:12  nhill
# Changed the order of the Data Server name and address to match convention.
# Changed the default settings.
#
# Revision 1.4  1999/01/28 20:20:33  nhill
# Fixed some comments.
#
# Revision 1.3  1999/01/19 19:21:38  nhill
# Added image processing setup.
#
#INDENT-ON*
#
#***  C A N A D I A N   A S T R O N O M Y   D A T A   C E N T R E  *****
#***********************************************************************
#


#
#  Identify the data server used when saving images to the archive.
#
#			server		server
#			name		address
#			------		-------

dataServer 		dataServer1	daxka


#
#  Identify the Quick Look Server to connect use. It is assumed to be on the
#  same host as the QLT.
#
#			server
#			name
#			------

qlServer 		qlServer


#
#  Set the initial list of custom streams. These are also the default
#  subscribed streams.
#
#			stream
#			name
#			------



#
#  Set the initial values of the display options.
#
#			option
#			state
#			------

autoCut			on
displayNewest		on
autoSkip		off


#
# Set up the initial data processing. The operator must be one of "none",
# "add", "subtract", "multiply", "divide", or "mask". The operand dataset
# must be the name of a dataset available to the Data Server specified
# in the Quick Look Server configuration file. The operand frame id is the
# frame id of a frame in the operand dataset.
#
#			operator	operand		operand
#					dataset		frame id
#			--------	-------		--------

